<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<title>Recuperar senha</title>
</head>
<body style="padding:0; margin:0; background:#fefefe">

<table width="100%" border="0" cellspacing="0" cellpadding="5" bgcolor="#fefefe">
<tr>
<td align="center" valign="top">

<table width="581" cellspacing="10" cellpadding="0">
<tr>
<td style="font-family: Georgia; font-size:10px; line-height:15px; text-align:center; color:#888; ">
E-mail de sistema (www.facilsc.com.br)
</td>
</tr>
<tr></tr>
<tr>
<td style="font-family: Georgia; font-size:12px; line-height:40px; color:#000000; font-weight:bold; text-transform:uppercase; text-align:center;border-top:1px solid #CCCCCC; border-bottom:1px solid #CCCCCC;">Recuperar senha</td>
</tr>
<tr></tr>
<tr>
<td>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td style="font-family: Georgia; font-size:12px; line-height:16px; text-align:left; color:#333;">
<div style="font-family: Georgia; font-size:12px; line-height:16px; color:#000000; font-weight:bold;">Dados do usuário:</div><br>
Login: <@ $login @><br>
Senha: <@ $password @><br><br>
<em>(Atenção: Faça a troca da senha quando acessar o sistema)</em><br><br>
<a style="color:#e3000b; text-decoration:underline; " href="<@ $linkSys @>">Acessar o sistema »</a><br><br><br>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td style="">
<table width="100%" border="0" cellspacing="0" cellpadding="10">
<tr>
<td style="font-family: Georgia; font-size:10px; line-height:12px; text-align:center; color:#888;">www.facilsc.com.br</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
</body>
</html>