
input[type=radio], input[type=checkbox]{
    cursor:pointer;
}

input[type=text], input[type=file], input[type=password], textarea, select { 
    font-family: Arial,Helvetica,sans-serif !important;
    font-size: 12px !important;
    margin-bottom: 3px;
    display: block;
    padding: 5px;
    background-color:#FFFFFF;
    border: solid 1px #cccccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    resize: none;
}

input[type=text]:focus, input[type=file]:focus, input[type=password]:focus, textarea:focus, select:focus, file:focus { 
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin-bottom: 3px;
    display: block;
    padding: 5px;
    border: solid 1px #c1c1c1;
    background-color:#FFFFCC;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #cccccc;
}

input[type=text]:disabled, input[type=file]:disabled, input[type=password]:disabled, textarea:disabled, select:disabled, file:disabled { 
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin-bottom: 3px;
	font-style: italic;
    display: block;
    padding: 5px;
    border: solid 1px #cccccc;
    background-color:#f4f4f4;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

fieldset{
    font-family: Arial,Helvetica,sans-serif;
    padding: 10px;
    margin: 10px;
    border-top: 1px dotted #cccccc;
    border-left: none;
    border-right: none;
    border-bottom: none;
    font-family: Arial;
    font-weight:bold;
    font-size: 15px;
    /*-moz-border-radius: 6px;
    -webkit-border-radius: 6px;*/
}

fieldset > div{
	font-size: 12px;
}

fieldset legend{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    /*background: none repeat scroll 0 0 #FFFFFF;*/
    /*border: 1px solid #CCCCCC;*/
    color: #666666;
    padding: 7px 7px;
}

label{
    font-family: Arial,Helvetica,sans-serif;
    font-family: Arial;
    font-size: 12px;
    font-weight:normal;
}

/*
.classButton{
	-moz-border-radius: 4px;
        -webkit-border-radius: 4px;
	padding		: 7px 15px 7px 15px;
	color		: #666666;
        background      : #f1f1f1;
	font-size	: 12px;
	font-style      : normal;
	cursor          : pointer;
	border          : 1px solid #cccccc;
        float           : right;
	margin          : 3px 0px 0px 3px;
	box-shadow	: 0px 0px 6px #C1C1C1 inset;
}

span.classButton:hover{
    background	: url('/image/img_button_hover.png');
    color       : #333333;
    box-shadow	: 0px 0px 6px #999999 inset;
}*/

.classButton{
	-moz-border-radius		: 2px;
    -webkit-border-radius	: 2px;
	border-radius			: 2px;
	padding					: 7px 15px 7px 15px;
	color					: #666666;
    background      		: -moz-linear-gradient(center top , #F5F5F5, #EDEDED) repeat scroll 0 0 transparent;
	font-size				: 12px;
	font-style      		: normal;
	cursor          		: pointer;
	border          		: 1px solid #eeeeee;
    float           		: right;
	margin          		: 3px 0px 0px 3px;
}

span.classButton:hover{
    -moz-linear-gradient(center top , #EDEDED, #F5F5F5) repeat scroll 0 0 transparent;
    color       : #333333;
	border		: 1px solid #e1e1e1;
}

