body{
    /*background-color: #A0BACB;*/
    background-color: #556E87;
    font            : 12px arial,sans-serif;
    height          : 100%;
    margin          : 0px;
    color           : #3E434A;
    }
    
#dashboard{
	/*margin-left:5%; 
	margin-right:5%;*/ 
	/*background:#006699;*/
        /*background:  url(/image/bg.jpg);*/
}

th { text-shadow: 1px 1px 0 #FFFFFF}

table.tableHeader tr:hover{
    background : none repeat scroll 0 0 #FFFFCC;
}

tr.tableBgHeader hover{
	background : none repeat scroll 0 0 #cccccc !important;
}

table.tableHeader{
    font-size : 12px;
    color     : #666666;  
}

table.tableHeader td{
    border-top      : 0px;
    border-left     : 0px;
    border-right    : 0px;
    border-bottom   : 1px solid #E1E1E1;
    padding         : 9px 5px 9px 12px;
}

table.tableHeader th{
    border-top      : 0px;
    border-left     : 0px;
    border-right    : 0px;
    border-bottom   : 1px solid #E2E2E2;
    padding         : 9px 5px 9px 12px;
    text-shadow     : 1px 1px 0 #EEEEEE;
    font-size       : 16px;
}

.tableBgHeader {
    background:none repeat scroll 0 0 #D2CEC6 !important;
}

.tableBgRow {
    background:none repeat scroll 0 0 #F5F5F5 !important;
}

#sysContent{
    float       : none;
    /*min-height  :400px;*/
    height      : 91% !important;
    position	: relative;
}

#topNavegation{
    padding     : 8px;
    margin      : 8px;
    border      :1px solid #FCEC94;
    background  : #FFFFCC;
    -moz-border-radius  : 5px;
}

#topMenu{
    /*height  : 20px;*/
    background  : #cccccc;
}

.topMenuNoSelected{
    /*background-color    : #E8971B;*/
    font-weight         : bold;
    font-size           : 14;
    float               : left;
    padding             : 12px 1px 1px 1px;
    margin              : 0px 1px 0px 0px;
    height              : 27px;
    width               : 80px;
    text-align          : center;
    color               : #FFFFFF;
    cursor              : pointer;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright:10px
}

.topMenuSelected{
    background-color    : #FFFFFF;
    font-weight         : bold;
    font-size           : 14;
    float               : left;
    padding             : 12px 1px 1px 1px;
    margin              : 0px 1px 0px 0px;
    height              : 27px;
    width               : 80px;
    text-align          : center;
    text-shadow         : -1px -1px 0 #eeeeee;
    cursor              : pointer;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright:10px
}

.maskLoading{
    display             : none;
    position            : absolute;
    background-color    : #FFFFFF;
    z-index             : 1001;
    -moz-opacity        : 0.8;
    opacity             :.80;
    filter              : alpha(opacity = 80);
    text-align          : center;
    vertical-align      : middle;
}

#timer_sys{
    color       : #FFFFFF;
    font        : arial,sans-serif;
    font-size   : 22px;
    margin      : 0px 10px 0px 0px;
    color       : #999999;
}

.sysButtton{
    text-indent : 20px;
    display     : block;
    font-family : arial,sans-serif;
    color       : #3F4548;
}

.buttonNext{
    background  : url(/image/icon/arrow_right.png) no-repeat 10px 8px;
    
}

.buttonBack{
    background  : url(/image/icon/arrow_left.png) no-repeat 10px 8px;
}

}
.frameClass
{
	border: 1px dotted #999;
}

/***************** JANELA *********************/
.ui-dialog .ui-dialog-content{
    padding: 0px !important;
}

.ui-dialog-titlebar .ui-widget-header .ui-corner-all .ui-helper-clearfix{
	border-radius: 10px !important;	
}

/****** EDITOR **************/
.yui-toolbar-titlebar{
    /*display: none !important;*/
    font-size: 0px;
}
.yui-editor-container{
    border:0px !important;
}
.yui-toolbar-subcont{
    border-bottom: 0px !important;
}
.dompath{
    border: 0px !important;
}

.yui-editor-container ul li{
    font-weight: normal !important;
}

.yuimenuitemlabel{
    margin: 8px !important;
}

/****** TAB **************/
.yui-content{
    background: none !important;
}

.yui-skin-sam .yui-navset .yui-nav a, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav a{
    background: #e1e1e1 !important;	
}

.yui-skin-sam .yui-navset .yui-nav a, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav a:houver{
    background: #ffffff !important; 
}

.yui-nav{
    border-width : 0px 0px 1px !important;
    border-color : #cccccc !important;
    border-style : none !important;
    font-family  : Arial !important;
    font-size    : 14px !important;
}

.yui-nav .selected a em{
    background   : #F7F6F6 !important;
    color        : #666666 !important;
}

.yui-skin-sam .yui-navset .yui-nav a, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav a{
    color     : #666666 !important;
    border-radius:0 !important;
    border-color:#cccccc !important;
}

.yui-skin-sam .yui-navset .yui-nav .selected a, .yui-skin-sam .yui-navset .yui-nav .selected a em{
    border-color : #cccccc !important;
    border-radius:0 !important;
}

.yui-skin-sam .yui-navset .yui-content, .yui-skin-sam .yui-navset .yui-navset-top .yui-content{
    border-bottom: 0px !important;
    border-right : 0px !important;
    border-left  : 0px !important;
    border-top   : 1px solid #cccccc !important;
}

.yui-skin-sam .yui-navset .yui-nav a em, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav a em{
    position: static !important;
    font-size: 13px;
    border-color:#cccccc !important;
}

/******************* GRID *****************/
.yui-skin-sam tr.yui-dt-odd{
    background: none !important;
}

.yui-skin-sam tr.yui-dt-even td.yui-dt-asc, .yui-skin-sam tr.yui-dt-even td.yui-dt-desc{
    background: none !important;
}

.yui-skin-sam tr.yui-dt-odd td.yui-dt-asc, .yui-skin-sam tr.yui-dt-odd td.yui-dt-desc{
    background: none !important;
}

.yui-skin-sam .yui-dt table{
    font-size:12px !important;
    width:100% !important;
}

.yui-skin-sam .yui-dt table{
    border:0px !important;
}

.yui-skin-sam .yui-dt tr.yui-dt-first td{
    border-top: 1px solid #cccccc !important;
}

.yui-skin-sam .yui-dt th, .yui-skin-sam .yui-dt th a{
    color: #666666 !important;
}

.yui-skin-sam .yui-dt th{
    background: -moz-linear-gradient(center top , #F9F9F9, #E3E3E3) repeat scroll 0 0 transparent !important;
}

.yui-skin-sam .yui-dt-scrollable .yui-dt-bd{
	border: none !important;
}

.yui-skin-sam .yui-dt-scrollable .yui-dt-hd{
	border: none !important;
}

.yui-skin-sam .yui-dt-scrollable .yui-dt-data tr.yui-dt-last td{
	border-bottom: none !important;
}

.yui-skin-sam tr.yui-dt-even{
	background: #f8f8f8 !important;
}

/************* LOADGIN GRID *************/
.yui-skin-sam .yui-dt-message{
    background : #FCEC94 !important;
    display : none !important;
}

/************** PAGINAÇÃO GRID ***************/
.yui-skin-sam .yui-pg-page{
    background: #A8A8A8 !important;
    border-radius:3px !important;
	padding: 2px 6px 1px 6px  !important;
	border:0px !important;
}

.yui-skin-sam a.yui-pg-first:link, .yui-skin-sam a.yui-pg-first:visited, .yui-skin-sam a.yui-pg-first:active, .yui-skin-sam a.yui-pg-first:hover, .yui-skin-sam a.yui-pg-previous:link, .yui-skin-sam a.yui-pg-previous:visited, .yui-skin-sam a.yui-pg-previous:active, .yui-skin-sam a.yui-pg-previous:hover, .yui-skin-sam a.yui-pg-next:link, .yui-skin-sam a.yui-pg-next:visited, .yui-skin-sam a.yui-pg-next:active, .yui-skin-sam a.yui-pg-next:hover, .yui-skin-sam a.yui-pg-last:link, .yui-skin-sam a.yui-pg-last:visited, .yui-skin-sam a.yui-pg-last:active, .yui-skin-sam a.yui-pg-last:hover, .yui-skin-sam a.yui-pg-page:link, .yui-skin-sam a.yui-pg-page:visited, .yui-skin-sam a.yui-pg-page:active, .yui-skin-sam a.yui-pg-page:hover{
    color: #f6f6f6 !important;
    text-decoration: none !important;
}

.yui-skin-sam .yui-pg-current-page{
    background: #7A7A7A !important;
    color: #ffffff;
	padding: 2px 6px 1px 6px  !important;
}

.yui-skin-sam tr.yui-dt-selected td, .yui-skin-sam tr.yui-dt-selected td.yui-dt-asc, .yui-skin-sam tr.yui-dt-selected td.yui-dt-desc{
    background-color : #FFFFCC !important;
    color            : #333333 !important;
}

.yui-skin-sam tr.yui-dt-highlighted, .yui-skin-sam tr.yui-dt-highlighted td.yui-dt-asc, .yui-skin-sam tr.yui-dt-highlighted td.yui-dt-desc, .yui-skin-sam tr.yui-dt-even td.yui-dt-highlighted, .yui-skin-sam tr.yui-dt-odd td.yui-dt-highlighted{
    background-color : #FFFFE1 !important;
    color            : #666666 !important;
}

th.yui-dt-hidden .yui-dt-liner, td.yui-dt-hidden .yui-dt-liner, th.yui-dt-hidden .yui-dt-resizer{
    /*display : block !important;*/
}

.yui-skin-sam .yui-pg-container{
    margin : 0px !important;
}

/******************* MENU DE CONTEXTO *****************/
.yui-skin-sam .yui-menu-shadow-visible{
    background: none !important;
}

.yui-skin-sam .yuimenu{
	position: fixed !important;
}

.yui-skin-sam .yuimenu ul{
    padding : 0px !important;
}

.yui-skin-sam .yuimenuitemlabel{
    padding: 4px 15px !important;
}

.yui-skin-sam .yuimenu .bd{
    border: 1px solid #CCCCCC !important;
}


/*********** MASCARA DE CARREGAMENTO DO SISTEMA **************/
.mask_load_system{
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    z-index:10000001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}

/******************* MENU DE TOPO *****************/
 .yui-skin-sam .yuimenubar{
    background : #ffffff !important;
}

.yui-skin-sam .yuimenubaritem-selected{
    background : -moz-linear-gradient(center top , #EEEEEE, #F7F6F6) repeat scroll 0 0 transparent !important;
}

.yui-skin-sam .yui-navset .yui-nav .selected a, .yui-skin-sam .yui-navset .yui-nav .selected a em{
	color: #999999 !important;
}

