body
{
	font: 13px/1.231 arial,helvetica,clean,sans-serif;
	font: x-small;
	font-size: small;
}
select,input,button,textarea,button
{
	font: 99% arial,helvetica,clean,sans-serif;
}
table
{
	font: 100%;
	font-size: inherit;
}
pre,code,kbd,samp,tt
{
	font-family: monospace;
	font-size: 108%;
	line-height: 100%;
}
body
{
	margin: 10px;
}
h1
{
	font-size: 138.5%;
}
h2
{
	font-size: 123.1%;
}
h3
{
	font-size: 108%;
}
h1,h2,h3
{
	margin: 1em 0;
}
h1,h2,h3,h4,h5,h6,strong,dt
{
	font-weight: bold;
}
optgroup
{
	font-weight: normal;
}
abbr,acronym
{
	border-bottom: 1px dotted #000;
	cursor: help;
}
em
{
	font-style: italic;
}
del
{
	text-decoration: line-through;
}
blockquote,ul,ol,dl
{
	margin: 1em;
}
ol,ul,dl
{
	margin-left: 2em;
}
ol li
{
	list-style: decimal outside;
}
ul li
{
	list-style: disc outside;
}
dl dd
{
	margin-left: 1em;
}
th,td
{
	border: 1px solid #000;
	padding: .5em;
}
th
{
	font-weight: bold;
	text-align: center;
}
caption
{
	margin-bottom: .5em;
	text-align: center;
}
sup
{
	vertical-align: super;
}
sub
{
	vertical-align: sub;
}
p,fieldset,table,pre
{
	margin-bottom: 1em;
}
button,input[type="checkbox"],input[type="radio"],input[type="reset"],input[type="submit"]
{
	padding: 1px;
}
.yui-button
{
	display: inline-block;
	display: -moz-inline-box;
	vertical-align: text-bottom;
}
.yui-button .first-child
{
	display: block;
	display: inline-block;
}
.yui-button button,.yui-button a
{
	border: none;
	display: block;
	display: inline-block;
	margin: 0;
}
.yui-button button
{
	background-color: transparent;
	cursor: pointer;
	overflow: visible;
}
.yui-button a
{
	text-decoration: none;
}
.yui-skin-sam .yui-button
{
	background: url(http://yui.yahooapis.com/2.8.2r1/build/assets/skins/sam/sprite.png) repeat-x 0 0;
	border-color: #808080;
	border-style: solid;
	border-width: 1px 0;
	margin: auto .25em;
}
.yui-skin-sam .yui-button .first-child
{
	_margin: 0;
	border-color: #808080;
	border-style: solid;
	border-width: 0 1px;
	margin: 0 -1px;
}
.yui-skin-sam .yui-button button,.yui-skin-sam .yui-button a,.yui-skin-sam .yui-button a:visited
{
	color: #000;
	font-size: 93%;
	line-height: 1.7;
	line-height: 2;
	min-height: 2em;
	min-height: auto;
	padding: 0 10px;
}
.yui-skin-sam .yui-button a
{
	line-height: 1.875;
	padding-bottom: 1px;
}
.yui-skin-sam .yui-split-button button,.yui-skin-sam .yui-menu-button button
{
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 20px;
}
.yui-skin-sam .yui-menu-button button
{
	background-image: url(http://yui.yahooapis.com/2.8.2r1/build/button/assets/skins/sam/menu-button-arrow.png);
}
.yui-skin-sam .yui-split-button button
{
	background-image: url(http://yui.yahooapis.com/2.8.2r1/build/button/assets/skins/sam/split-button-arrow.png);
}
.yui-skin-sam .yui-button-focus
{
	background-position: 0 -1300px;
	border-color: #7D98B8;
}
.yui-skin-sam .yui-button-focus .first-child
{
	border-color: #7D98B8;
}
.yui-skin-sam .yui-split-button-focus button
{
	background-image: url(http://yui.yahooapis.com/2.8.2r1/build/button/assets/skins/sam/split-button-arrow-focus.png);
}
.yui-skin-sam .yui-button-hover
{
	background-position: 0 -1300px;
	border-color: #7D98B8;
}
.yui-skin-sam .yui-button-hover .first-child
{
	border-color: #7D98B8;
}
.yui-skin-sam .yui-split-button-hover button
{
	background-image: url(http://yui.yahooapis.com/2.8.2r1/build/button/assets/skins/sam/split-button-arrow-hover.png);
}
.yui-skin-sam .yui-button-active
{
	background-position: 0 -1700px;
	border-color: #7D98B8;
}
.yui-skin-sam .yui-button-active .first-child
{
	border-color: #7D98B8;
}
.yui-skin-sam .yui-split-button-activeoption
{
	background-position: 0 0;
	border-color: #808080;
}
.yui-skin-sam .yui-split-button-activeoption .first-child
{
	border-color: #808080;
}
.yui-skin-sam .yui-split-button-activeoption button
{
	background-image: url(http://yui.yahooapis.com/2.8.2r1/build/button/assets/skins/sam/split-button-arrow-active.png);
}
.yui-skin-sam .yui-radio-button-checked,.yui-skin-sam .yui-checkbox-button-checked
{
	background-position: 0 -1400px;
	border-color: #304369;
}
.yui-skin-sam .yui-radio-button-checked .first-child,.yui-skin-sam .yui-checkbox-button-checked .first-child
{
	border-color: #304369;
}
.yui-skin-sam .yui-radio-button-checked button,.yui-skin-sam .yui-checkbox-button-checked button
{
	color: #fff;
}
.yui-skin-sam .yui-button-disabled
{
	background-position: 0 -1500px;
	border-color: #ccc;
}
.yui-skin-sam .yui-button-disabled .first-child
{
	border-color: #ccc;
}
.yui-skin-sam .yui-button-disabled button,.yui-skin-sam .yui-button-disabled a,.yui-skin-sam .yui-button-disabled a:visited
{
	color: #A6A6A6;
	cursor: default;
}
.yui-skin-sam .yui-menu-button-disabled button
{
	background-image: url(http://yui.yahooapis.com/2.8.2r1/build/button/assets/skins/sam/menu-button-arrow-disabled.png);
}
.yui-skin-sam .yui-split-button-disabled button
{
	background-image: url(http://yui.yahooapis.com/2.8.2r1/build/button/assets/skins/sam/split-button-arrow-disabled.png);
}
.yui-overlay,.yui-panel-container
{
	position: absolute;
	visibility: hidden;
	z-index: 10000 !important;
}
.yui-panel
{
	position: relative;
}
.yui-panel-container form
{
	margin: 0;
}
.mask
{
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}
.mask.block-scrollbars
{
	overflow: auto;
}
.masked select,.drag select,.hide-select select
{
	_visibility: hidden;
}
.yui-panel-container select
{
	_visibility: inherit;
}
.hide-scrollbars,.hide-scrollbars *
{
	overflow: hidden;
}
.hide-scrollbars select
{
	display: none;
}
.show-scrollbars
{
	overflow: auto;
}
.yui-panel-container.show-scrollbars,.yui-tt.show-scrollbars
{
	overflow: visible;
}
.yui-panel-container.show-scrollbars .underlay,.yui-tt.show-scrollbars .yui-tt-shadow
{
	overflow: auto;
}
.yui-panel-container.shadow .underlay.yui-force-redraw
{
	padding-bottom: 1px;
}
.yui-effect-fade .underlay,.yui-effect-fade .yui-tt-shadow
{
	display: none;
}
.yui-tt-shadow
{
	position: absolute;
}
.yui-override-padding
{
	padding: 0!important;
}
.yui-panel-container .container-close
{
	overflow: hidden;
	text-decoration: none;
	text-indent: -10000em;
}
.yui-overlay.yui-force-redraw,.yui-panel-container.yui-force-redraw
{
	margin-bottom: 1px;
}
.yui-skin-sam .mask
{
	background-color: #000;
	filter: alpha(opacity=25);
	opacity: .25;
}
.yui-skin-sam .yui-panel-container
{
	padding: 0 1px;
	padding: 2px;
}
.yui-skin-sam .yui-panel
{
	_zoom: normal;
	border-color: #808080;
	border-style: solid;
	border-width: 1px 0;
	border-width: 1px;
	left: 0;
	position: relative;
	top: 0;
	z-index: 1;
	zoom: 1;
}
.yui-skin-sam .yui-panel .hd,.yui-skin-sam .yui-panel .bd,.yui-skin-sam .yui-panel .ft
{
	border: 0;
	border-color: #808080;
	border-style: solid;
	border-width: 0 1px;
	margin: 0 -1px;
	margin: 0;
}
.yui-skin-sam .yui-panel .hd
{
	border-bottom: solid 1px #ccc;
}
.yui-skin-sam .yui-panel .bd,.yui-skin-sam .yui-panel .ft
{
	background-color: #F2F2F2;
}
.yui-skin-sam .yui-panel .hd
{
	background: url(http://yui.yahooapis.com/2.8.2r1/build/assets/skins/sam/sprite.png) repeat-x 0 -200px;
	color: #000;
	font-size: 93%;
	font-weight: bold;
	line-height: 1.9;
	line-height: 2;
	padding: 0 10px;
}
.yui-skin-sam .yui-panel .bd
{
	padding: 10px;
}
.yui-skin-sam .yui-panel .ft
{
	border-top: solid 1px #808080;
	font-size: 77%;
	padding: 5px 10px;
}
.yui-skin-sam .container-close
{
	background: url(http://yui.yahooapis.com/2.8.2r1/build/assets/skins/sam/sprite.png) no-repeat 0 -300px;
	cursor: pointer;
	height: 15px;
	position: absolute;
	right: 6px;
	top: 5px;
	width: 25px;
}
.yui-skin-sam .yui-panel-container .underlay
{
	left: -1px;
	right: -1px;
}
.yui-skin-sam .yui-panel-container.matte
{
	background-color: #fff;
	padding: 9px 10px;
}
.yui-skin-sam .yui-panel-container.shadow
{
	_padding: 2px 4px 0 2px;
}
.yui-skin-sam .yui-panel-container.shadow .underlay
{
	_bottom: 0;
	_left: 0;
	_margin-left: -1px;
	_margin-top: 3px;
	_right: 0;
	_top: 0;
	background-color: #000;
	bottom: -1px;
	bottom: -3px;
	filter: alpha(opacity=12);
	left: -1px;
	left: -3px;
	opacity: .12;
	position: absolute;
	right: -1px;
	right: -3px;
	top: 2px;
	top: 4px;
}
.yui-skin-sam .yui-dialog .ft
{
	border-top: none;
	font-size: 100%;
	padding: 0 10px 10px 10px;
}
.yui-skin-sam .yui-dialog .ft .button-group
{
	display: block;
	text-align: right;
}
.yui-skin-sam .yui-dialog .ft button.default
{
	font-weight: bold;
}
.yui-skin-sam .yui-dialog .ft span.default
{
	background-position: 0 -1400px;
	border-color: #304369;
}
.yui-skin-sam .yui-dialog .ft span.default .first-child
{
	border-color: #304369;
}
.yui-skin-sam .yui-dialog .ft span.default button
{
	color: #fff;
}
.yui-skin-sam .yui-dialog .ft span.yui-button-disabled
{
	background-position: 0 -1500px;
	border-color: #ccc;
}
.yui-skin-sam .yui-dialog .ft span.yui-button-disabled .first-child
{
	border-color: #ccc;
}
.yui-skin-sam .yui-dialog .ft span.yui-button-disabled button
{
	color: #a6a6a6;
}
.yui-skin-sam .yui-simple-dialog .bd .yui-icon
{
	background: url(http://yui.yahooapis.com/2.8.2r1/build/assets/skins/sam/sprite.png) no-repeat 0 0;
	float: left;
	height: 16px;
	margin-right: 10px;
	width: 16px;
}
.yui-skin-sam .yui-simple-dialog .bd span.blckicon
{
	background-position: 0 -1100px;
}
.yui-skin-sam .yui-simple-dialog .bd span.alrticon
{
	background-position: 0 -1050px;
}
.yui-skin-sam .yui-simple-dialog .bd span.hlpicon
{
	background-position: 0 -1150px;
}
.yui-skin-sam .yui-simple-dialog .bd span.infoicon
{
	background-position: 0 -1200px;
}
.yui-skin-sam .yui-simple-dialog .bd span.warnicon
{
	background-position: 0 -1900px;
}
.yui-skin-sam .yui-simple-dialog .bd span.tipicon
{
	background-position: 0 -1250px;
}
.yui-skin-sam .yui-tt .bd
{
	background-color: #FFEE69;
	border-color: #D4C237 #A6982B #A6982B #A6982B;
	border-style: solid;
	border-width: 1px;
	color: #000;
	left: 0;
	padding: 2px 5px;
	position: relative;
	top: 0;
	z-index: 1;
}
.yui-skin-sam .yui-tt.show-scrollbars .bd
{
	overflow: auto;
}
.yui-skin-sam .yui-tt-shadow
{
	background-color: #000;
	bottom: -3px;
	left: -3px;
	right: -3px;
	top: 2px;
}
.yui-skin-sam .yui-tt-shadow-visible
{
	filter: alpha(opacity=12);
	opacity: .12;
}
.yui-busy
{
	cursor: wait!important;
}
.yui-toolbar-container fieldset,.yui-editor-container fieldset
{
	border: 0;
	margin: 0;
	padding: 0;
}
.yui-toolbar-container legend
{
	display: none;
}
.yui-skin-sam .yui-toolbar-container .yui-button button,.yui-skin-sam .yui-toolbar-container .yui-button a,.yui-skin-sam .yui-toolbar-container .yui-button a:visited
{
	font-size: 0;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-select button,.yui-skin-sam .yui-toolbar-container .yui-toolbar-select a,.yui-skin-sam .yui-toolbar-container .yui-toolbar-select a:visited,.yui-skin-sam .yui-toolbar-container .yui-toolbar-spinbutton button,.yui-skin-sam .yui-toolbar-container .yui-toolbar-spinbutton a,.yui-skin-sam .yui-toolbar-container .yui-toolbar-spinbutton a:visited
{
	font-size: 12px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-spinbutton a.up,.yui-skin-sam .yui-toolbar-container .yui-toolbar-spinbutton a.down
{
	font-size: 0;
	line-height: 0;
	padding: 0;
}
.yui-toolbar-container .yui-toolbar-subcont
{
	padding: .25em 0;
	zoom: 1;
}
.yui-toolbar-container-collapsed .yui-toolbar-subcont
{
	display: none;
}
.yui-toolbar-container .yui-toolbar-subcont:after
{
	clear: both;
	content: '.';
	display: block;
	height: 0;
	visibility: hidden;
}
.yui-toolbar-container span.yui-toolbar-draghandle
{
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	clear: none;
	cursor: move;
	display: block;
	float: left;
	height: 20px;
	margin: 0 0 0 .2em;
	overflow: hidden;
	text-indent: 77777px;
	width: 2px;
}
.yui-toolbar-container .yui-toolbar-titlebar.draggable
{
	cursor: move;
}
.yui-toolbar-container .yui-toolbar-titlebar
{
	position: relative;
}
.yui-toolbar-container .yui-toolbar-titlebar h2
{
	border: none;
	color: #000;
	font-weight: bold;
	letter-spacing: 0;
	margin: 0;
	padding: .2em;
}
.yui-toolbar-container .yui-toolbar-titlebar h2 a
{
	color: #000;
	cursor: default;
	text-decoration: none;
}
.yui-toolbar-container.yui-toolbar-grouped span.yui-toolbar-draghandle
{
	height: 40px;
}
.yui-toolbar-container .yui-toolbar-group
{
	float: left;
	margin-right: .5em;
	zoom: 1;
}
.yui-toolbar-container .yui-toolbar-group:after
{
	clear: both;
	content: '.';
	display: block;
	height: 0;
	visibility: hidden;
}
.yui-toolbar-container .yui-toolbar-group h3
{
	font-size: 75%;
	margin: 0;
	padding: 0 0 0 .25em;
}
.yui-toolbar-container span.yui-toolbar-separator
{
	display: none;
	float: left;
	height: 18px;
	margin: .2em 0 .2em .1em;
	padding: 0;
	width: 2px;
}
.yui-toolbar-container.yui-toolbar-grouped span.yui-toolbar-separator
{
	height: 45px;
	height: 50px;
}
.yui-toolbar-container.yui-toolbar-grouped .yui-toolbar-group span.yui-toolbar-separator
{
	display: block;
	height: 18px;
}
.yui-toolbar-container ul li
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.yui-toolbar-container .yui-toolbar-nogrouplabels h3
{
	display: none;
}
.yui-toolbar-container .yui-push-button,.yui-toolbar-container .yui-color-button,.yui-toolbar-container .yui-menu-button
{
	cursor: pointer;
	position: relative;
}
.yui-toolbar-container .yui-button .first-child,.yui-toolbar-container .yui-button .first-child a
{
	font-size: 0;
	height: 100%;
	overflow: hidden;
	width: 100%;
}
.yui-toolbar-container .yui-button-disabled
{
	cursor: default;
}
.yui-toolbar-container .yui-button-disabled .yui-toolbar-icon
{
	filter: alpha(opacity=50);
	opacity: .5;
}
.yui-toolbar-container .yui-button-disabled .up,.yui-toolbar-container .yui-button-disabled .down
{
	filter: alpha(opacity=50);
	opacity: .5;
}
.yui-toolbar-container .yui-button a
{
	overflow: hidden;
}
.yui-toolbar-container .yui-toolbar-select .first-child a
{
	cursor: pointer;
}
.yui-toolbar-fontname-arial
{
	font-family: Arial;
}
.yui-toolbar-fontname-arial-black
{
	font-family: Arial Black;
}
.yui-toolbar-fontname-comic-sans-ms
{
	font-family: Comic Sans MS;
}
.yui-toolbar-fontname-courier-new
{
	font-family: Courier New;
}
.yui-toolbar-fontname-times-new-roman
{
	font-family: Times New Roman;
}
.yui-toolbar-fontname-verdana
{
	font-family: Verdana;
}
.yui-toolbar-fontname-impact
{
	font-family: Impact;
}
.yui-toolbar-fontname-lucida-console
{
	font-family: Lucida Console;
}
.yui-toolbar-fontname-tahoma
{
	font-family: Tahoma;
}
.yui-toolbar-fontname-trebuchet-ms
{
	font-family: Trebuchet MS;
}
.yui-toolbar-container .yui-toolbar-spinbutton
{
	position: relative;
}
.yui-toolbar-container .yui-toolbar-spinbutton .first-child a
{
	opacity: 1;
	z-index: 0;
}
.yui-toolbar-container .yui-toolbar-spinbutton a.up,.yui-toolbar-container .yui-toolbar-spinbutton a.down
{
	cursor: pointer;
	display: block;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	z-index: 1;
}
.yui-toolbar-container .yui-overlay
{
	position: absolute;
}
.yui-toolbar-container .yui-overlay ul li
{
	list-style-type: none;
	margin: 0;
}
.yui-toolbar-container
{
	z-index: 1;
}
.yui-editor-container .yui-editor-editable-container
{
	position: relative;
	width: 100%;
	z-index: 0;
}
.yui-editor-container .yui-editor-masked
{
	background-color: #CCC;
	filter: alpha(opacity=50);
	height: 100%;
	left: 0;
	opacity: .5;
	position: absolute;
	top: 0;
	width: 100%;
}
.yui-editor-container iframe
{
	border: 0;
	display: block;
	margin: 0;
	padding: 0;
	zoom: 1;
}
.yui-editor-container .yui-editor-editable
{
	margin: 0;
	padding: 0;
}
.yui-editor-container .dompath
{
	font-size: 85%;
}
.yui-editor-panel .hd
{
	position: relative;
	text-align: left;
}
.yui-editor-panel .hd h3
{
	font-weight: bold;
	margin: 0;
	padding: .25em 0 .25em .25em;
}
.yui-editor-panel .bd
{
	position: relative;
	width: 100%;
	zoom: 1;
}
.yui-editor-panel .bd div.yui-editor-body-cont
{
	padding: .25em .1em;
	zoom: 1;
}
.yui-editor-panel .bd .gecko form
{
	overflow: auto;
}
.yui-editor-panel .bd div.yui-editor-body-cont:after
{
	clear: both;
	content: '.';
	display: block;
	height: 0;
	visibility: hidden;
}
.yui-editor-panel .ft
{
	clear: both;
	float: left;
	text-align: right;
	width: 99%;
}
.yui-editor-panel .ft span.tip
{
	display: block;
	padding: .5em .5em .5em 23px;
	position: relative;
	text-align: left;
	zoom: 1;
}
.yui-editor-panel label
{
	clear: both;
	float: left;
	padding: 0;
	text-align: left;
	width: 100%;
	zoom: 1;
}
.yui-editor-panel .gecko label
{
	overflow: auto;
}
.yui-editor-panel label strong
{
	float: left;
	width: 6em;
}
.yui-editor-panel .removeLink
{
	text-align: right;
	width: 80%;
}
.yui-editor-panel label input
{
	float: left;
	margin-left: .25em;
}
.yui-editor-panel .yui-toolbar-group
{
	margin-bottom: .75em;
}
.yui-editor-panel .height-width
{
	float: left;
}
.yui-editor-panel .height-width span
{
	display: block;
	float: left;
	font-style: italic;
	overflow: visible;
}
.yui-editor-panel .height-width span.info
{
	float: none;
	font-size: 70%;
	margin-top: 3px;
}
.yui-editor-panel .yui-toolbar-bordersize,.yui-editor-panel .yui-toolbar-bordertype
{
	font-size: 75%;
}
.yui-editor-panel .yui-toolbar-container span.yui-toolbar-separator
{
	border: none;
}
.yui-editor-panel .yui-toolbar-bordersize span a span,.yui-editor-panel .yui-toolbar-bordertype span a span
{
	_top: -5px;
	display: block;
	font-size: 0;
	height: 8px;
	left: 4px;
	position: absolute;
	text-indent: 52px;
	top: 3px;
	width: 24px;
}
.yui-editor-panel .yui-toolbar-bordertype span a span.yui-toolbar-bordertype-solid
{
	border-bottom: 1px solid black;
}
.yui-editor-panel .yui-toolbar-bordertype span a span.yui-toolbar-bordertype-dotted
{
	border-bottom: 1px dotted black;
}
.yui-editor-panel .yui-toolbar-bordertype span a span.yui-toolbar-bordertype-dashed
{
	border-bottom: 1px dashed black;
}
.yui-editor-panel .yui-toolbar-bordersize span a span.yui-toolbar-bordersize-0
{
	font-size: 75%;
	text-indent: 0;
	top: 0;
}
.yui-editor-panel .yui-toolbar-bordersize span a span.yui-toolbar-bordersize-1
{
	border-bottom: 1px solid black;
}
.yui-editor-panel .yui-toolbar-bordersize span a span.yui-toolbar-bordersize-2
{
	border-bottom: 2px solid black;
}
.yui-editor-panel .yui-toolbar-bordersize span a span.yui-toolbar-bordersize-3
{
	border-bottom: 3px solid black;
	top: 2px;
	top: -5px;
}
.yui-editor-panel .yui-toolbar-bordersize span a span.yui-toolbar-bordersize-4
{
	border-bottom: 4px solid black;
	top: 1px;
	top: -5px;
}
.yui-editor-panel .yui-toolbar-bordersize span a span.yui-toolbar-bordersize-5
{
	border-bottom: 5px solid black;
	top: 1px;
	top: -5px;
}
.yui-toolbar-container .yui-toolbar-bordersize-menu,.yui-toolbar-container .yui-toolbar-bordertype-menu
{
	width: 95px!important;
}
.yui-toolbar-bordersize-menu .yuimenuitemlabel,.yui-toolbar-bordertype-menu .yuimenuitemlabel,.yui-toolbar-bordersize-menu .yuimenuitemlabel,.yui-toolbar-bordertype-menu .yuimenuitemlabel:hover
{
	margin: 0 3px 7px 17px;
}
.yui-toolbar-bordersize-menu .yuimenuitemlabel .checkedindicator,.yui-toolbar-bordertype-menu .yuimenuitemlabel .checkedindicator
{
	left: 0;
	left: -12px;
	position: absolute;
	top: 14px;
}
.yui-toolbar-bordersize-menu li.yui-toolbar-bordersize-1 a
{
	border-bottom: 1px solid black;
	height: 14px;
}
.yui-toolbar-bordersize-menu li.yui-toolbar-bordersize-2 a
{
	border-bottom: 2px solid black;
	height: 14px;
}
.yui-toolbar-bordersize-menu li.yui-toolbar-bordersize-3 a
{
	border-bottom: 3px solid black;
	height: 14px;
}
.yui-toolbar-bordersize-menu li.yui-toolbar-bordersize-4 a
{
	border-bottom: 4px solid black;
	height: 14px;
}
.yui-toolbar-bordersize-menu li.yui-toolbar-bordersize-5 a
{
	border-bottom: 5px solid black;
	height: 14px;
}
.yui-toolbar-bordertype-menu li.yui-toolbar-bordertype-solid a
{
	border-bottom: 1px solid black;
	height: 14px;
}
.yui-toolbar-bordertype-menu li.yui-toolbar-bordertype-dashed a
{
	border-bottom: 1px dashed black;
	height: 14px;
}
.yui-toolbar-bordertype-menu li.yui-toolbar-bordertype-dotted a
{
	border-bottom: 1px dotted black;
	height: 14px;
}
h2.yui-editor-skipheader,h3.yui-editor-skipheader
{
	border: none;
	height: 0;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 0;
}
.yui-toolbar-colors
{
	display: none;
	overflow: hidden;
	width: 133px;
	z-index: 100;
	zoom: 1;
}
.yui-toolbar-colors:after
{
	clear: both;
	content: '.';
	display: block;
	height: 0;
	visibility: hidden;
}
.yui-toolbar-colors a
{
	border: 1px solid #F6F7EE;
	cursor: pointer;
	display: block;
	float: left;
	height: 9px;
	margin: 0;
	overflow: hidden;
	text-indent: 999px;
	width: 9px;
}
.yui-toolbar-colors a:hover
{
	border: 1px solid black;
}
.yui-color-button-menu
{
	background-color: transparent;
	overflow: visible;
}
.yui-toolbar-colors span
{
	display: block;
	float: left;
	overflow: hidden;
	padding: 3px;
	position: relative;
	width: 100%;
	zoom: 1;
}
.yui-toolbar-colors span:after
{
	clear: both;
	content: '.';
	display: block;
	height: 0;
	visibility: hidden;
}
.yui-toolbar-colors span em
{
	border: 1px solid black;
	display: block;
	float: left;
	height: 35px;
	margin: .75px;
	overflow: hidden;
	text-indent: 999px;
	width: 30px;
}
.yui-toolbar-colors span strong
{
	display: block;
	float: left;
	font-size: 85%;
	font-weight: normal;
	padding-left: 3px;
	width: 65%;
}
.yui-toolbar-group-undoredo h3,.yui-toolbar-group-insertitem h3,.yui-toolbar-group-indentlist h3
{
	width: 68px;
}
.yui-toolbar-group-indentlist2 h3
{
	width: 122px;
}
.yui-toolbar-group-alignment h3
{
	width: 130px;
}
.yui-skin-sam .yui-editor-container
{
	border: 1px solid #808080;
}
.yui-skin-sam .yui-toolbar-container
{
	zoom: 1;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-titlebar
{
	background: url(http://yui.yahooapis.com/2.8.2r1/build/assets/skins/sam/sprite.png) repeat-x 0 -200px;
	position: relative;
}
.yui-skin-sam .yui-editor-container .draggable .yui-toolbar-titlebar
{
	cursor: move;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-titlebar h2
{
	color: #000;
	font-size: 100%;
	font-weight: bold;
	margin: 0;
	padding: .3em 1em;
	text-align: left;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-group h3
{
	color: #808080;
	font-size: 75%;
	margin: 1em 0 0;
	padding-bottom: 0;
	padding-left: .25em;
	text-align: left;
}
.yui-toolbar-container span.yui-toolbar-separator
{
	border: none;
	margin: 0 .25em;
	overflow: hidden;
	text-indent: 33px;
}
.yui-skin-sam .yui-toolbar-container
{
	background-color: #F2F2F2;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-subcont
{
	border-bottom: 1px solid #808080;
	padding: 0 1em .35em;
}
.yui-skin-sam .yui-toolbar-container-collapsed .yui-toolbar-titlebar
{
	border-bottom: 1px solid #808080;
}
.yui-skin-sam .yui-editor-container .visible .yui-menu-shadow,.yui-skin-sam .yui-editor-panel .visible .yui-menu-shadow
{
	display: none;
}
.yui-skin-sam .yui-editor-container ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.yui-skin-sam .yui-editor-container ul li
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.yui-skin-sam .yui-toolbar-group ul li.yui-toolbar-groupitem
{
	float: left;
}
.yui-skin-sam .yui-editor-container .dompath
{
	background-color: #F2F2F2;
	border-top: 1px solid #808080;
	color: #999;
	padding: .25em;
	text-align: left;
}
.yui-skin-sam .yui-toolbar-container .collapse
{
	background: url(http://yui.yahooapis.com/2.8.2r1/build/assets/skins/sam/sprite.png) no-repeat 0 -400px;
}
.yui-skin-sam .yui-toolbar-container .collapsed
{
	background: url(http://yui.yahooapis.com/2.8.2r1/build/assets/skins/sam/sprite.png) no-repeat 0 -350px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-titlebar span.collapse
{
	cursor: pointer;
	display: block;
	height: 15px;
	overflow: hidden;
	position: absolute;
	right: 2px;
	text-indent: 9999px;
	top: 4px;
	width: 15px;
}
.yui-skin-sam .yui-toolbar-container .yui-push-button,.yui-skin-sam .yui-toolbar-container .yui-color-button,.yui-skin-sam .yui-toolbar-container .yui-menu-button
{
	_font-size: 0;
	background: url(http://yui.yahooapis.com/2.8.2r1/build/assets/skins/sam/sprite.png) repeat-x 0 0;
	border-color: #808080;
	border-style: solid;
	border-width: 1px 0;
	color: #f2f2f2;
	display: block;
	height: 22px;
	margin: 0;
	position: relative;
	width: 30px;
	zoom: 1;
}
.yui-skin-sam .yui-toolbar-container .yui-push-button a,.yui-skin-sam .yui-toolbar-container .yui-color-button a,.yui-skin-sam .yui-toolbar-container .yui-menu-button a
{
	color: #000;
	display: block;
	font-size: 0;
	height: 20px;
	line-height: 2;
	overflow: hidden;
	padding-left: 35px;
	text-decoration: none;
	white-space: nowrap;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-spinbutton a,.yui-skin-sam .yui-toolbar-container .yui-toolbar-select a
{
	font-size: 12px;
}
.yui-skin-sam .yui-toolbar-container .yui-push-button .first-child,.yui-skin-sam .yui-toolbar-container .yui-color-button .first-child,.yui-skin-sam .yui-toolbar-container .yui-menu-button .first-child
{
	border-color: #808080;
	border-style: solid;
	border-width: 0 1px;
	display: block;
	margin: 0 -1px;
	position: relative;
}
.yui-skin-sam .yui-toolbar-container .yui-push-button-disabled .first-child,.yui-skin-sam .yui-toolbar-container .yui-color-button-disabled .first-child,.yui-skin-sam .yui-toolbar-container .yui-menu-button-disabled .first-child
{
	border-color: #ccc;
}
.yui-skin-sam .yui-toolbar-container .yui-push-button-disabled a,.yui-skin-sam .yui-toolbar-container .yui-color-button-disabled a,.yui-skin-sam .yui-toolbar-container .yui-menu-button-disabled a
{
	color: #A6A6A6;
	cursor: default;
}
.yui-skin-sam .yui-toolbar-container .yui-push-button-disabled,.yui-skin-sam .yui-toolbar-container .yui-color-button-disabled,.yui-skin-sam .yui-toolbar-container .yui-menu-button-disabled
{
	border-color: #ccc;
}
.yui-skin-sam .yui-toolbar-container .yui-button .first-child
{
	left: 0;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-fontname
{
	width: 135px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-heading
{
	width: 92px;
}
.yui-skin-sam .yui-toolbar-container .yui-button-hover
{
	background: url(http://yui.yahooapis.com/2.8.2r1/build/assets/skins/sam/sprite.png) repeat-x 0 -1300px;
	border-color: #808080;
}
.yui-skin-sam .yui-toolbar-container .yui-button-selected
{
	background: url(http://yui.yahooapis.com/2.8.2r1/build/assets/skins/sam/sprite.png) repeat-x 0 -1700px;
	border-color: #808080;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-nogrouplabels h3
{
	display: none;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-nogrouplabels .yui-toolbar-group
{
	margin-top: .75em;
}
.yui-skin-sam .yui-toolbar-container .yui-push-button span.yui-toolbar-icon,.yui-skin-sam .yui-toolbar-container .yui-color-button span.yui-toolbar-icon,.yui-skin-sam .yui-toolbar-container .yui-menu-button span.yui-toolbar-icon
{
	background: url(http://yui.yahooapis.com/2.8.2r1/build/editor/assets/skins/sam/editor-sprite.gif) no-repeat 30px 30px;
	display: block;
	height: 18px;
	overflow: hidden;
	position: absolute;
	top: 2px;
	width: 18px;
}
.yui-skin-sam .yui-toolbar-container .yui-button-selected span.yui-toolbar-icon,.yui-skin-sam .yui-toolbar-container .yui-button-hover span.yui-toolbar-icon
{
	background-image: url(http://yui.yahooapis.com/2.8.2r1/build/editor/assets/skins/sam/editor-sprite-active.gif);
}
.yui-skin-sam .yui-toolbar-container .visible .yuimenuitemlabel
{
	color: #000;
	cursor: pointer;
	position: relative;
}
.yui-skin-sam .yui-toolbar-container .yui-button-menu
{
	background-color: #fff;
}
.yui-skin-sam .yui-toolbar-container .yui-button-menu .yui-menu-body-scrolled
{
	position: relative;
}
.yui-skin-sam div.yuimenu li.selected
{
	background-color: #B3D4FF;
}
.yui-skin-sam div.yuimenu li.selected a.selected
{
	color: #000;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-bold span.yui-toolbar-icon
{
	background-position: 0 0;
	left: 5px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-strikethrough span.yui-toolbar-icon
{
	background-position: 0 -108px;
	left: 5px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-italic span.yui-toolbar-icon
{
	background-position: 0 -36px;
	left: 5px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-undo span.yui-toolbar-icon
{
	background-position: 0 -1326px;
	left: 5px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-redo span.yui-toolbar-icon
{
	background-position: 0 -1355px;
	left: 5px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-underline span.yui-toolbar-icon
{
	background-position: 0 -72px;
	left: 5px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-subscript span.yui-toolbar-icon
{
	background-position: 0 -180px;
	left: 5px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-superscript span.yui-toolbar-icon
{
	background-position: 0 -144px;
	left: 5px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-forecolor span.yui-toolbar-icon
{
	background-position: 0 -216px;
	left: 5px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-backcolor span.yui-toolbar-icon
{
	background-position: 0 -288px;
	left: 5px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-justifyleft span.yui-toolbar-icon
{
	background-position: 0 -324px;
	left: 5px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-justifycenter span.yui-toolbar-icon
{
	background-position: 0 -360px;
	left: 5px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-justifyright span.yui-toolbar-icon
{
	background-position: 0 -396px;
	left: 5px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-justifyfull span.yui-toolbar-icon
{
	background-position: 0 -432px;
	left: 5px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-indent span.yui-toolbar-icon
{
	background-position: 0 -720px;
	left: 5px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-outdent span.yui-toolbar-icon
{
	background-position: 0 -684px;
	left: 5px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-createlink span.yui-toolbar-icon
{
	background-position: 0 -792px;
	left: 5px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-insertimage span.yui-toolbar-icon
{
	background-position: 1px -756px;
	left: 5px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-left span.yui-toolbar-icon
{
	background-position: 0 -972px;
	left: 5px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-right span.yui-toolbar-icon
{
	background-position: 0 -936px;
	left: 5px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-inline span.yui-toolbar-icon
{
	background-position: 0 -900px;
	left: 5px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-block span.yui-toolbar-icon
{
	background-position: 0 -864px;
	left: 5px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-bordercolor span.yui-toolbar-icon
{
	background-position: 0 -252px;
	left: 5px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-removeformat span.yui-toolbar-icon
{
	background-position: 0 -1080px;
	left: 5px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-hiddenelements span.yui-toolbar-icon
{
	background-position: 0 -1044px;
	left: 5px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-insertunorderedlist span.yui-toolbar-icon
{
	background-position: 0 -468px;
	left: 5px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-insertorderedlist span.yui-toolbar-icon
{
	background-position: 0 -504px;
	left: 5px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-spinbutton,.yui-skin-sam .yui-toolbar-container .yui-toolbar-spinbutton .first-child
{
	width: 35px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-spinbutton .first-child a
{
	padding-left: 2px;
	text-align: left;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-spinbutton span.yui-toolbar-icon
{
	display: none;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-spinbutton a.up,.yui-skin-sam .yui-toolbar-container .yui-toolbar-spinbutton a.down
{
	background: url(http://yui.yahooapis.com/2.8.2r1/build/editor/assets/skins/sam/editor-sprite.gif) no-repeat 0 -1222px;
	height: 6px;
	min-height: 0;
	overflow: hidden;
	padding: 0;
	right: 2px;
	width: 7px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-spinbutton a.up
{
	background-position: 0 -1222px;
	top: 2px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-spinbutton a.down
{
	background-position: 0 -1187px;
	bottom: 2px;
}
.yui-skin-sam .yui-toolbar-container select
{
	border: 1px solid #808080;
	height: 22px;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-select .first-child a
{
	padding-left: 5px;
	text-align: left;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-select span.yui-toolbar-icon
{
	background: url(http://yui.yahooapis.com/2.8.2r1/build/editor/assets/skins/sam/editor-sprite.gif) no-repeat 0 -1144px;
	height: 20px;
	overflow: hidden;
	right: -2px;
	top: 0;
}
.yui-skin-sam .yui-editor-panel .yui-color-button-menu .bd
{
	background-color: transparent;
	border: none;
	width: 135px;
}
.yui-skin-sam .yui-color-button-menu .yui-toolbar-colors
{
	border: 1px solid #808080;
}
.yui-skin-sam .yui-editor-panel
{
	background-color: transparent;
	border: none;
	margin: 0;
	overflow: visible;
	padding: 0;
	position: absolute;
}
.yui-skin-sam .yui-editor-panel .hd
{
	border: none;
	margin: 10px 0 0;
	padding: 0;
}
.yui-skin-sam .yui-editor-panel .hd h3
{
	background: url(http://yui.yahooapis.com/2.8.2r1/build/assets/skins/sam/sprite.png) repeat-x 0 -200px;
	border: 1px solid #808080;
	color: #000;
	font-size: 93%;
	height: 20px;
	margin: 0;
	padding: 3px 0 0 0;
	position: relative;
	text-indent: 5px;
	width: 99%;
}
.yui-skin-sam .yui-editor-panel .bd
{
	background-color: #F2F2F2;
	border-left: 1px solid #808080;
	border-right: 1px solid #808080;
	margin: 0;
	overflow: visible;
	padding: 0;
	width: 99%;
}
.yui-skin-sam .yui-editor-panel ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.yui-skin-sam .yui-editor-panel ul li
{
	margin: 0;
	padding: 0;
}
.yui-skin-sam .yui-editor-panel .yui-toolbar-container .yui-toolbar-subcont
{
	border: none;
	margin-top: .35em;
	padding: 0;
}
.yui-skin-sam .yui-editor-panel .yui-toolbar-bordersize,.yui-skin-sam .yui-editor-panel .yui-toolbar-bordertype
{
	width: 50px;
}
.yui-skin-sam .yui-editor-panel label
{
	display: block;
	float: none;
	margin-bottom: 7px;
	padding: 4px 0;
}
.yui-skin-sam .yui-editor-panel label strong
{
	font-size: 93%;
	font-weight: normal;
	padding-top: 2px;
	text-align: right;
}
.yui-skin-sam .yui-editor-panel label input
{
	width: 75%;
}
.yui-skin-sam .yui-editor-panel .createlink_target,.yui-skin-sam .yui-editor-panel .insertimage_target
{
	margin-right: 5px;
	width: auto;
}
.yui-skin-sam .yui-editor-panel .removeLink
{
	width: 98%;
}
.yui-skin-sam .yui-editor-panel label input.warning
{
	background-color: #FFEE69;
}
.yui-skin-sam .yui-editor-panel .yui-toolbar-group h3
{
	color: #000;
	float: left;
	font-size: 93%;
	font-weight: normal;
	margin: 5px 0 0 0;
	padding: 0 3px 0 0;
	text-align: right;
}
.yui-skin-sam .yui-editor-panel .height-width h3
{
	margin: 3px 0 0 10px;
}
.yui-skin-sam .yui-editor-panel .height-width
{
	margin: 3px 0 0 35px;
	margin-left: 14px;
	width: 42%;
	width: 44%;
}
.yui-skin-sam .yui-editor-panel .yui-toolbar-group-border
{
	width: 190px;
}
.yui-skin-sam .yui-editor-panel .no-button .yui-toolbar-group-border
{
	width: 210px;
}
.yui-skin-sam .yui-editor-panel .yui-toolbar-group-padding
{
	_width: 198px;
	width: 203px;
}
.yui-skin-sam .yui-editor-panel .no-button .yui-toolbar-group-padding
{
	width: 172px;
}
.yui-skin-sam .yui-editor-panel .yui-toolbar-group-padding h3
{
	margin-left: 12px;
	margin-left: 25px;
}
.yui-skin-sam .yui-editor-panel .yui-toolbar-group-textflow
{
	width: 182px;
}
.yui-skin-sam .yui-editor-panel .hd
{
	background: none;
}
.yui-skin-sam .yui-editor-panel .ft
{
	background-color: #F2F2F2;
	border: 1px solid #808080;
	border-top: none;
	margin: 0 0 2px 0;
	padding: 0;
}
.yui-skin-sam .yui-editor-panel .hd span.close
{
	background: url(http://yui.yahooapis.com/2.8.2r1/build/assets/skins/sam/sprite.png) no-repeat 0 -300px;
	cursor: pointer;
	display: block;
	height: 16px;
	overflow: hidden;
	position: absolute;
	right: 5px;
	text-indent: 500px;
	top: 2px;
	width: 26px;
}
.yui-skin-sam .yui-editor-panel .ft span.tip
{
	background-color: #EDF5FF;
	border-top: 1px solid #808080;
	font-size: 85%;
}
.yui-skin-sam .yui-editor-panel .ft span.tip strong
{
	display: block;
	float: left;
	margin: 0 2px 8px 0;
}
.yui-skin-sam .yui-editor-panel .ft span.tip span.icon
{
	background: url(http://yui.yahooapis.com/2.8.2r1/build/editor/assets/skins/sam/editor-sprite.gif) no-repeat 0 -1260px;
	display: block;
	height: 20px;
	left: 2px;
	position: absolute;
	top: 8px;
	width: 20px;
}
.yui-skin-sam .yui-editor-panel .ft span.tip span.icon-info
{
	background-position: 2px -1260px;
}
.yui-skin-sam .yui-editor-panel .ft span.tip span.icon-warn
{
	background-position: 2px -1296px;
}
.yui-skin-sam .yui-editor-panel .hd span.knob
{
	background: url(http://yui.yahooapis.com/2.8.2r1/build/editor/assets/skins/sam/editor-knob.gif) no-repeat 0 0;
	height: 10px;
	left: 25px;
	overflow: hidden;
	position: absolute;
	text-indent: 9999px;
	top: -10px;
	width: 28px;
}
.yui-skin-sam .yui-editor-panel .yui-toolbar-container
{
	background-image: none;
	border: none;
	float: left;
	width: 100%;
}
.yui-skin-sam .yui-editor-panel .yui-toolbar-container .bd
{
	background-color: #fff;
}
.yui-editor-blankimage
{
	background-image: url(http://yui.yahooapis.com/2.8.2r1/build/editor/assets/skins/sam/blankimage.png);
}
.yui-skin-sam .yui-editor-container .yui-resize-handle-br
{
	background-color: transparent;
	background-position: -20px -60px;
	height: 11px;
	width: 11px;
}
.yui-calcontainer
{
	_overflow: hidden;
	float: left;
	position: relative;
}
.yui-calcontainer iframe
{
	border: none;
	height: 100%;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}
.yui-calcontainer iframe.fixedsize
{
	height: 50em;
	left: -1px;
	top: -1px;
	width: 50em;
}
.yui-calcontainer.multi .groupcal
{
	float: left;
	position: relative;
	z-index: 1;
}
.yui-calcontainer .title
{
	position: relative;
	z-index: 1;
}
.yui-calcontainer .close-icon
{
	overflow: hidden;
	position: absolute;
	text-indent: -10000em;
	z-index: 1;
}
.yui-calendar
{
	position: relative;
}
.yui-calendar .calnavleft
{
	overflow: hidden;
	position: absolute;
	text-indent: -10000em;
	z-index: 1;
}
.yui-calendar .calnavright
{
	overflow: hidden;
	position: absolute;
	text-indent: -10000em;
	z-index: 1;
}
.yui-calendar .calheader
{
	position: relative;
	text-align: center;
	width: 100%;
}
.yui-calcontainer .yui-cal-nav-mask
{
	_height: 0;
	_width: 0;
	display: none;
	height: 100%;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}
.yui-calcontainer .yui-cal-nav
{
	display: none;
	position: absolute;
	top: 0;
	z-index: 3;
}
.yui-calcontainer .yui-cal-nav .yui-cal-nav-btn
{
	display: inline-block;
	display: -moz-inline-box;
}
.yui-calcontainer .yui-cal-nav .yui-cal-nav-btn button
{
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: block;
	display: inline-block;
	overflow: visible;
}
.yui-calendar .calbody a:hover
{
	background: inherit;
}
p#clear
{
	clear: left;
	padding-top: 10px;
}
.yui-skin-sam .yui-calcontainer
{
	background-color: #f2f2f2;
	border: 1px solid #808080;
	padding: 10px;
}
.yui-skin-sam .yui-calcontainer.multi
{
	padding: 0 5px 0 5px;
}
.yui-skin-sam .yui-calcontainer.multi .groupcal
{
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 10px 5px 10px 5px;
}
.yui-skin-sam .yui-calcontainer .title
{
	background: url(http://yui.yahooapis.com/2.8.2r1/build/assets/skins/sam/sprite.png) repeat-x 0 0;
	border-bottom: 1px solid #ccc;
	color: #000;
	font: 100% sans-serif;
	font-weight: bold;
	height: auto;
	left: 0;
	margin: 0 -10px 10px -10px;
	padding: .4em;
	text-align: left;
	top: 0;
}
.yui-skin-sam .yui-calcontainer.multi .title
{
	margin: 0 -5px 0 -5px;
}
.yui-skin-sam .yui-calcontainer.withtitle
{
	padding-top: 0;
}
.yui-skin-sam .yui-calcontainer .calclose
{
	background: url(http://yui.yahooapis.com/2.8.2r1/build/assets/skins/sam/sprite.png) no-repeat 0 -300px;
	cursor: pointer;
	height: 15px;
	right: .4em;
	top: .4em;
	width: 25px;
}
.yui-skin-sam .yui-calendar
{
	border-collapse: collapse;
	border-spacing: 0;
	font: 100% sans-serif;
	margin: 0;
	text-align: center;
}
.yui-skin-sam .yui-calendar .calhead
{
	background: transparent;
	border: none;
	padding: 0;
	vertical-align: middle;
}
.yui-skin-sam .yui-calendar .calheader
{
	background: transparent;
	font-weight: bold;
	padding: 0 0 .6em 0;
	text-align: center;
}
.yui-skin-sam .yui-calendar .calheader img
{
	border: none;
}
.yui-skin-sam .yui-calendar .calnavleft
{
	background: url(http://yui.yahooapis.com/2.8.2r1/build/assets/skins/sam/sprite.png) no-repeat 0 -450px;
	bottom: 0;
	cursor: pointer;
	height: 15px;
	left: -10px;
	margin-left: .4em;
	top: 0;
	width: 25px;
}
.yui-skin-sam .yui-calendar .calnavright
{
	background: url(http://yui.yahooapis.com/2.8.2r1/build/assets/skins/sam/sprite.png) no-repeat 0 -500px;
	bottom: 0;
	cursor: pointer;
	height: 15px;
	margin-right: .4em;
	right: -10px;
	top: 0;
	width: 25px;
}
.yui-skin-sam .yui-calendar .calweekdayrow
{
	height: 2em;
}
.yui-skin-sam .yui-calendar .calweekdayrow th
{
	border: none;
	padding: 0;
}
.yui-skin-sam .yui-calendar .calweekdaycell
{
	color: #000;
	font-weight: bold;
	text-align: center;
	width: 2em;
}
.yui-skin-sam .yui-calendar .calfoot
{
	background-color: #f2f2f2;
}
.yui-skin-sam .yui-calendar .calrowhead,.yui-skin-sam .yui-calendar .calrowfoot
{
	border: none;
	color: #a6a6a6;
	font-size: 85%;
	font-style: normal;
	font-weight: normal;
}
.yui-skin-sam .yui-calendar .calrowhead
{
	padding: 0 2px 0 0;
	text-align: right;
}
.yui-skin-sam .yui-calendar .calrowfoot
{
	padding: 0 0 0 2px;
	text-align: left;
}
.yui-skin-sam .yui-calendar td.calcell
{
	background: #fff;
	border: 1px solid #ccc;
	height: 1.6em;
	line-height: 1.6em;
	padding: 1px;
	text-align: center;
	white-space: nowrap;
}
.yui-skin-sam .yui-calendar td.calcell a
{
	color: #06c;
	display: block;
	height: 100%;
	text-decoration: none;
}
.yui-skin-sam .yui-calendar td.calcell.today
{
	background-color: #000;
}
.yui-skin-sam .yui-calendar td.calcell.today a
{
	background-color: #fff;
}
.yui-skin-sam .yui-calendar td.calcell.oom
{
	background-color: #ccc;
	color: #a6a6a6;
	cursor: default;
}
.yui-skin-sam .yui-calendar td.calcell.selected
{
	background-color: #fff;
	color: #000;
}
.yui-skin-sam .yui-calendar td.calcell.selected a
{
	background-color: #b3d4ff;
	color: #000;
}
.yui-skin-sam .yui-calendar td.calcell.calcellhover
{
	background-color: #426fd9;
	color: #fff;
	cursor: pointer;
}
.yui-skin-sam .yui-calendar td.calcell.calcellhover a
{
	background-color: #426fd9;
	color: #fff;
}
.yui-skin-sam .yui-calendar td.calcell.previous
{
	color: #e0e0e0;
}
.yui-skin-sam .yui-calendar td.calcell.restricted
{
	text-decoration: line-through;
}
.yui-skin-sam .yui-calendar td.calcell.highlight1
{
	background-color: #cf9;
}
.yui-skin-sam .yui-calendar td.calcell.highlight2
{
	background-color: #9cf;
}
.yui-skin-sam .yui-calendar td.calcell.highlight3
{
	background-color: #fcc;
}
.yui-skin-sam .yui-calendar td.calcell.highlight4
{
	background-color: #cf9;
}
.yui-skin-sam .yui-calendar a.calnav
{
	border: 1px solid #f2f2f2;
	color: #000;
	padding: 0 4px;
	text-decoration: none;
	zoom: 1;
}
.yui-skin-sam .yui-calendar a.calnav:hover
{
	background: url(http://yui.yahooapis.com/2.8.2r1/build/assets/skins/sam/sprite.png) repeat-x 0 0;
	border-color: #A0A0A0;
	cursor: pointer;
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav-mask
{
	background-color: #000;
	filter: alpha(opacity=25);
	opacity: .25;
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav
{
	background-color: #f2f2f2;
	border: 1px solid #808080;
	font-family: arial,helvetica,clean,sans-serif;
	font-size: 93%;
	left: 50%;
	margin-left: -7em;
	padding: 0;
	top: 2.5em;
	width: 14em;
}
.yui-skin-sam .yui-calcontainer.withtitle .yui-cal-nav
{
	top: 4.5em;
}
.yui-skin-sam .yui-calcontainer.multi .yui-cal-nav
{
	margin-left: -8em;
	width: 16em;
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav-y,.yui-skin-sam .yui-calcontainer .yui-cal-nav-m,.yui-skin-sam .yui-calcontainer .yui-cal-nav-b
{
	padding: 5px 10px 5px 10px;
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav-b
{
	text-align: center;
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav-e
{
	background-color: #EDF5FF;
	border-top: 1px solid black;
	display: none;
	margin-top: 5px;
	padding: 5px;
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav label
{
	display: block;
	font-weight: bold;
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav-mc
{
	_width: auto;
	width: 100%;
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav-y input.yui-invalid
{
	background-color: #FFEE69;
	border: 1px solid #000;
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav-yc
{
	width: 4em;
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav .yui-cal-nav-btn
{
	background: url(http://yui.yahooapis.com/2.8.2r1/build/assets/skins/sam/sprite.png) repeat-x 0 0;
	background-color: #ccc;
	border: 1px solid #808080;
	margin: auto .15em;
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav .yui-cal-nav-btn button
{
	color: #000;
	font-size: 93%;
	line-height: 1.7;
	line-height: 2;
	min-height: 2em;
	min-height: auto;
	padding: 0 8px;
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav .yui-cal-nav-btn.yui-default
{
	background: url(http://yui.yahooapis.com/2.8.2r1/build/assets/skins/sam/sprite.png) repeat-x 0 -1400px;
	background-color: #426fd9;
	border: 1px solid #304369;
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav .yui-cal-nav-btn.yui-default button
{
	color: #fff;
}
.yui-navset .yui-nav li,.yui-navset .yui-navset-top .yui-nav li,.yui-navset .yui-navset-bottom .yui-nav li
{
	margin: 0 .5em 0 0;
}
.yui-navset-left .yui-nav li,.yui-navset-right .yui-nav li
{
	margin: 0 0 .5em;
}
.yui-navset .yui-content .yui-hidden
{
	border: 0;
	height: 0;
	left: -999999px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	visibility: hidden;
	width: 0;
}
.yui-navset .yui-navset-left .yui-nav,.yui-navset .yui-navset-right .yui-nav,.yui-navset-left .yui-nav,.yui-navset-right .yui-nav
{
	width: 6em;
}
.yui-navset-top .yui-nav,.yui-navset-bottom .yui-nav
{
	width: auto;
}
.yui-navset .yui-navset-left,.yui-navset-left
{
	padding: 0 0 0 6em;
}
.yui-navset-right
{
	padding: 0 6em 0 0;
}
.yui-navset-top,.yui-navset-bottom
{
	padding: auto;
}
.yui-nav,.yui-nav li
{
	list-style: none;
	margin: 0;
	padding: 0;
}
.yui-navset li em
{
	font-style: normal;
}
.yui-navset
{
	position: relative;
	zoom: 1;
}
.yui-navset .yui-content,.yui-navset .yui-content div
{
	zoom: 1;
}
.yui-navset .yui-content:after
{
	clear: both;
	content: '';
	display: block;
}
.yui-navset .yui-nav li,.yui-navset .yui-navset-top .yui-nav li,.yui-navset .yui-navset-bottom .yui-nav li
{
	cursor: pointer;
	display: inline;
	display: inline-block;
	display: -moz-inline-stack;
	vertical-align: bottom;
	zoom: 1;
}
.yui-navset-left .yui-nav li,.yui-navset-right .yui-nav li
{
	display: block;
}
.yui-navset .yui-nav a
{
	position: relative;
}
.yui-navset .yui-nav li a,.yui-navset-top .yui-nav li a,.yui-navset-bottom .yui-nav li a
{
	display: block;
	display: inline-block;
	vertical-align: bottom;
	zoom: 1;
}
.yui-navset-left .yui-nav li a,.yui-navset-right .yui-nav li a
{
	display: block;
}
.yui-navset-bottom .yui-nav li a
{
	vertical-align: text-top;
}
.yui-navset .yui-nav li a em,.yui-navset-top .yui-nav li a em,.yui-navset-bottom .yui-nav li a em
{
	display: block;
}
.yui-navset .yui-navset-left .yui-nav,.yui-navset .yui-navset-right .yui-nav,.yui-navset-left .yui-nav,.yui-navset-right .yui-nav
{
	position: absolute;
	z-index: 1;
}
.yui-navset-top .yui-nav,.yui-navset-bottom .yui-nav
{
	position: static;
}
.yui-navset .yui-navset-left .yui-nav,.yui-navset-left .yui-nav
{
	left: 0;
	right: auto;
}
.yui-navset .yui-navset-right .yui-nav,.yui-navset-right .yui-nav
{
	left: auto;
	right: 0;
}
.yui-skin-sam .yui-navset .yui-nav,.yui-skin-sam .yui-navset .yui-navset-top .yui-nav
{
	border: solid #2647a0;
	border-width: 0 0 5px;
	zoom: 1;
}
.yui-skin-sam .yui-navset .yui-nav li,.yui-skin-sam .yui-navset .yui-navset-top .yui-nav li
{
	margin: 0 .16em 0 0;
	padding: 1px 0 0;
	zoom: 1;
}
.yui-skin-sam .yui-navset .yui-nav .selected,.yui-skin-sam .yui-navset .yui-navset-top .yui-nav .selected
{
	margin: 0 .16em -1px 0;
}
.yui-skin-sam .yui-navset .yui-nav a,.yui-skin-sam .yui-navset .yui-navset-top .yui-nav a
{
	background: #d8d8d8 url(http://yui.yahooapis.com/2.9.0/build/assets/skins/sam/sprite.png) repeat-x;
	border: solid #a3a3a3;
	border-width: 0 1px;
	color: #000;
	position: relative;
	text-decoration: none;
}
.yui-skin-sam .yui-navset .yui-nav a em,.yui-skin-sam .yui-navset .yui-navset-top .yui-nav a em
{
	border: solid #a3a3a3;
	border-width: 1px 0 0;
	bottom: 0;
	left: 0;
	padding: .25em .75em;
	position: relative;
	right: 0;
	top: -1px;
}
.yui-skin-sam .yui-navset .yui-nav .selected a,.yui-skin-sam .yui-navset .yui-nav .selected a:focus,.yui-skin-sam .yui-navset .yui-nav .selected a:hover
{
	background: #2647a0 url(http://yui.yahooapis.com/2.9.0/build/assets/skins/sam/sprite.png) repeat-x left -1400px;
	color: #fff;
}
.yui-skin-sam .yui-navset .yui-nav a:hover,.yui-skin-sam .yui-navset .yui-nav a:focus
{
	background: #bfdaff url(http://yui.yahooapis.com/2.9.0/build/assets/skins/sam/sprite.png) repeat-x left -1300px;
	outline: 0;
}
.yui-skin-sam .yui-navset .yui-nav .selected a em
{
	padding: .35em .75em;
}
.yui-skin-sam .yui-navset .yui-nav .selected a,.yui-skin-sam .yui-navset .yui-nav .selected a em
{
	border-color: #243356;
}
.yui-skin-sam .yui-navset .yui-content
{
	background: #edf5ff;
}
.yui-skin-sam .yui-navset .yui-content,.yui-skin-sam .yui-navset .yui-navset-top .yui-content
{
	border: 1px solid #808080;
	border-top-color: #243356;
	padding: .25em .5em;
}
.yui-skin-sam .yui-navset-left .yui-nav,.yui-skin-sam .yui-navset .yui-navset-left .yui-nav,.yui-skin-sam .yui-navset .yui-navset-right .yui-nav,.yui-skin-sam .yui-navset-right .yui-nav
{
	border-width: 0 5px 0 0;
	bottom: 0;
	top: 0;
	Xposition: absolute;
}
.yui-skin-sam .yui-navset .yui-navset-right .yui-nav,.yui-skin-sam .yui-navset-right .yui-nav
{
	border-width: 0 0 0 5px;
}
.yui-skin-sam .yui-navset-left .yui-nav li,.yui-skin-sam .yui-navset .yui-navset-left .yui-nav li,.yui-skin-sam .yui-navset-right .yui-nav li
{
	margin: 0 0 .16em;
	padding: 0 0 0 1px;
}
.yui-skin-sam .yui-navset-right .yui-nav li
{
	padding: 0 1px 0 0;
}
.yui-skin-sam .yui-navset-left .yui-nav .selected,.yui-skin-sam .yui-navset .yui-navset-left .yui-nav .selected
{
	margin: 0 -1px .16em 0;
}
.yui-skin-sam .yui-navset-right .yui-nav .selected
{
	margin: 0 0 .16em -1px;
}
.yui-skin-sam .yui-navset-left .yui-nav a,.yui-skin-sam .yui-navset-right .yui-nav a
{
	border-width: 1px 0;
}
.yui-skin-sam .yui-navset-left .yui-nav a em,.yui-skin-sam .yui-navset .yui-navset-left .yui-nav a em,.yui-skin-sam .yui-navset-right .yui-nav a em
{
	border-width: 0 0 0 1px;
	left: -1px;
	padding: .2em .75em;
	top: auto;
}
.yui-skin-sam .yui-navset-right .yui-nav a em
{
	border-width: 0 1px 0 0;
	left: auto;
	right: -1px;
}
.yui-skin-sam .yui-navset-left .yui-nav a,.yui-skin-sam .yui-navset-left .yui-nav .selected a,.yui-skin-sam .yui-navset-left .yui-nav a:hover,.yui-skin-sam .yui-navset-right .yui-nav a,.yui-skin-sam .yui-navset-right .yui-nav .selected a,.yui-skin-sam .yui-navset-right .yui-nav a:hover,.yui-skin-sam .yui-navset-bottom .yui-nav a,.yui-skin-sam .yui-navset-bottom .yui-nav .selected a,.yui-skin-sam .yui-navset-bottom .yui-nav a:hover
{
	background-image: none;
}
.yui-skin-sam .yui-navset-left .yui-content
{
	border: 1px solid #808080;
	border-left-color: #243356;
}
.yui-skin-sam .yui-navset-bottom .yui-nav,.yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav
{
	border-width: 5px 0 0;
}
.yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav .selected,.yui-skin-sam .yui-navset-bottom .yui-nav .selected
{
	margin: -1px .16em 0 0;
}
.yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav li,.yui-skin-sam .yui-navset-bottom .yui-nav li
{
	padding: 0 0 1px 0;
	vertical-align: top;
}
.yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav a em,.yui-skin-sam .yui-navset-bottom .yui-nav a em
{
	border-width: 0 0 1px;
	bottom: -1px;
	top: auto;
}
.yui-skin-sam .yui-navset-bottom .yui-content,.yui-skin-sam .yui-navset .yui-navset-bottom .yui-content
{
	border: 1px solid #808080;
	border-bottom-color: #243356;
}
.yui-skin-sam .yui-pg-container
{
	display: block;
	margin: 6px 0;
	white-space: nowrap;
}
.yui-skin-sam .yui-pg-first,.yui-skin-sam .yui-pg-previous,.yui-skin-sam .yui-pg-next,.yui-skin-sam .yui-pg-last,.yui-skin-sam .yui-pg-current,.yui-skin-sam .yui-pg-pages,.yui-skin-sam .yui-pg-page
{
	display: inline-block;
	font-family: arial,helvetica,clean,sans-serif;
	padding: 3px 6px;
	zoom: 1;
}
.yui-skin-sam .yui-pg-pages
{
	padding: 0;
}
.yui-skin-sam .yui-pg-current
{
	padding: 3px 0;
}
.yui-skin-sam a.yui-pg-first:link,.yui-skin-sam a.yui-pg-first:visited,.yui-skin-sam a.yui-pg-first:active,.yui-skin-sam a.yui-pg-first:hover,.yui-skin-sam a.yui-pg-previous:link,.yui-skin-sam a.yui-pg-previous:visited,.yui-skin-sam a.yui-pg-previous:active,.yui-skin-sam a.yui-pg-previous:hover,.yui-skin-sam a.yui-pg-next:link,.yui-skin-sam a.yui-pg-next:visited,.yui-skin-sam a.yui-pg-next:active,.yui-skin-sam a.yui-pg-next:hover,.yui-skin-sam a.yui-pg-last:link,.yui-skin-sam a.yui-pg-last:visited,.yui-skin-sam a.yui-pg-last:active,.yui-skin-sam a.yui-pg-last:hover,.yui-skin-sam a.yui-pg-page:link,.yui-skin-sam a.yui-pg-page:visited,.yui-skin-sam a.yui-pg-page:active,.yui-skin-sam a.yui-pg-page:hover
{
	color: #06c;
	outline: 0;
	text-decoration: underline;
}
.yui-skin-sam span.yui-pg-first,.yui-skin-sam span.yui-pg-previous,.yui-skin-sam span.yui-pg-next,.yui-skin-sam span.yui-pg-last
{
	color: #a6a6a6;
}
.yui-skin-sam .yui-pg-page
{
	background-color: #fff;
	border: 1px solid #cbcbcb;
	padding: 2px 6px;
	text-decoration: none;
}
.yui-skin-sam .yui-pg-current-page
{
	background-color: transparent;
	border: 0;
	font-weight: bold;
	padding: 3px 6px;
}
.yui-skin-sam .yui-pg-page
{
	margin-left: 1px;
	margin-right: 1px;
}
.yui-skin-sam .yui-pg-first,.yui-skin-sam .yui-pg-previous
{
	padding-left: 0;
}
.yui-skin-sam .yui-pg-next,.yui-skin-sam .yui-pg-last
{
	padding-right: 0;
}
.yui-skin-sam .yui-pg-current,.yui-skin-sam .yui-pg-rpp-options
{
	margin-left: 1em;
	margin-right: 1em;
}
.yui-skin-sam .yui-dt-mask
{
	position: absolute;
	z-index: 9500;
}
.yui-dt-tmp
{
	left: -9000px;
	position: absolute;
}
.yui-dt-scrollable .yui-dt-bd
{
	overflow: auto;
}
.yui-dt-scrollable .yui-dt-hd
{
	overflow: hidden;
	position: relative;
}
.yui-dt-scrollable .yui-dt-bd thead tr,.yui-dt-scrollable .yui-dt-bd thead th
{
	left: -1500px;
	position: absolute;
}
.yui-dt-scrollable tbody
{
	moz-outline: 0;
}
.yui-skin-sam thead .yui-dt-sortable
{
	cursor: pointer;
}
.yui-skin-sam thead .yui-dt-draggable
{
	cursor: move;
}
.yui-dt-coltarget
{
	position: absolute;
	z-index: 999;
}
.yui-dt-hd
{
	zoom: 1;
}
th.yui-dt-resizeable .yui-dt-resizerliner
{
	position: relative;
}
.yui-dt-resizer
{
	background-color: #CCC;
	bottom: 0;
	cursor: col-resize;
	cursor: e-resize;
	filter: alpha(opacity=0);
	height: 100%;
	opacity: 0;
	position: absolute;
	right: 0;
}
.yui-dt-resizerproxy
{
	background-color: #CCC;
	filter: alpha(opacity=0);
	opacity: 0;
	position: absolute;
	visibility: hidden;
	z-index: 9000;
}
th.yui-dt-hidden .yui-dt-liner,td.yui-dt-hidden .yui-dt-liner,th.yui-dt-hidden .yui-dt-resizer
{
	display: none;
}
.yui-dt-editor,.yui-dt-editor-shim
{
	position: absolute;
	z-index: 9000;
}
.yui-skin-sam .yui-dt table
{
	border: 1px solid #7f7f7f;
	border-collapse: collapse;
	border-collapse: separate;
	border-spacing: 0;
	font-family: arial;
	font-size: inherit;
	margin: 0;
	padding: 0;
}
.yui-skin-sam .yui-dt thead
{
	border-spacing: 0;
}
.yui-skin-sam .yui-dt caption
{
	color: #000;
	font-size: 85%;
	font-style: italic;
	font-weight: normal;
	line-height: 1;
	padding: 1em 0;
	text-align: center;
}
.yui-skin-sam .yui-dt th
{
	background: #d8d8da url(http://yui.yahooapis.com/2.9.0/build/assets/skins/sam/sprite.png) repeat-x 0 0;
}
.yui-skin-sam .yui-dt th,.yui-skin-sam .yui-dt th a
{
	color: #000;
	font-weight: normal;
	text-decoration: none;
	vertical-align: bottom;
}
.yui-skin-sam .yui-dt th
{
	border: 0;
	border-right: 1px solid #cbcbcb;
	margin: 0;
	padding: 0;
}
.yui-skin-sam .yui-dt tr.yui-dt-first td
{
	border-top: 1px solid #7f7f7f;
}
.yui-skin-sam .yui-dt th .yui-dt-liner
{
	white-space: nowrap;
}
.yui-skin-sam .yui-dt-liner
{
	margin: 0;
	padding: 0;
	padding: 4px 10px 4px 10px;
}
.yui-skin-sam .yui-dt-coltarget
{
	background-color: red;
	width: 5px;
}
.yui-skin-sam .yui-dt td
{
	border: 0;
	border-right: 1px solid #cbcbcb;
	margin: 0;
	padding: 0;
	text-align: left;
}
.yui-skin-sam .yui-dt-list td
{
	border-right: 0;
}
.yui-skin-sam .yui-dt-resizer
{
	width: 6px;
}
.yui-skin-sam .yui-dt-mask
{
	background-color: #000;
	filter: alpha(opacity=25);
	opacity: .25;
}
.yui-skin-sam .yui-dt-message
{
	background-color: #FFF;
}
.yui-skin-sam .yui-dt-scrollable table
{
	border: 0;
}
.yui-skin-sam .yui-dt-scrollable .yui-dt-hd
{
	border-left: 1px solid #7f7f7f;
	border-right: 1px solid #7f7f7f;
	border-top: 1px solid #7f7f7f;
}
.yui-skin-sam .yui-dt-scrollable .yui-dt-bd
{
	background-color: #FFF;
	border-bottom: 1px solid #7f7f7f;
	border-left: 1px solid #7f7f7f;
	border-right: 1px solid #7f7f7f;
}
.yui-skin-sam .yui-dt-scrollable .yui-dt-data tr.yui-dt-last td
{
	border-bottom: 1px solid #7f7f7f;
}
.yui-skin-sam th.yui-dt-asc,.yui-skin-sam th.yui-dt-desc
{
	background: url(http://yui.yahooapis.com/2.9.0/build/assets/skins/sam/sprite.png) repeat-x 0 -100px;
}
.yui-skin-sam th.yui-dt-sortable .yui-dt-label
{
	margin-right: 10px;
}
.yui-skin-sam th.yui-dt-asc .yui-dt-liner
{
	background: url(http://yui.yahooapis.com/2.9.0/build/datatable/assets/skins/sam/dt-arrow-up.png) no-repeat right;
}
.yui-skin-sam th.yui-dt-desc .yui-dt-liner
{
	background: url(http://yui.yahooapis.com/2.9.0/build/datatable/assets/skins/sam/dt-arrow-dn.png) no-repeat right;
}
tbody .yui-dt-editable
{
	cursor: pointer;
}
.yui-dt-editor
{
	background-color: #f2f2f2;
	border: 1px solid #808080;
	padding: 6px;
	text-align: left;
}
.yui-dt-editor label
{
	padding-left: 4px;
	padding-right: 6px;
}
.yui-dt-editor .yui-dt-button
{
	padding-top: 6px;
	text-align: right;
}
.yui-dt-editor .yui-dt-button button
{
	background: url(http://yui.yahooapis.com/2.9.0/build/assets/skins/sam/sprite.png) repeat-x 0 0;
	border: 1px solid #999;
	height: 1.8em;
	margin-left: 6px;
	width: 4em;
}
.yui-dt-editor .yui-dt-button button.yui-dt-default
{
	background: url(http://yui.yahooapis.com/2.9.0/build/assets/skins/sam/sprite.png) repeat-x 0 -1400px;
	background-color: #5584e0;
	border: 1px solid #304369;
	color: #FFF;
}
.yui-dt-editor .yui-dt-button button:hover
{
	background: url(http://yui.yahooapis.com/2.9.0/build/assets/skins/sam/sprite.png) repeat-x 0 -1300px;
	color: #000;
}
.yui-dt-editor .yui-dt-button button:active
{
	background: url(http://yui.yahooapis.com/2.9.0/build/assets/skins/sam/sprite.png) repeat-x 0 -1700px;
	color: #000;
}
.yui-skin-sam tr.yui-dt-even
{
	background-color: #FFF;
}
.yui-skin-sam tr.yui-dt-odd
{
	background-color: #edf5ff;
}
.yui-skin-sam tr.yui-dt-even td.yui-dt-asc,.yui-skin-sam tr.yui-dt-even td.yui-dt-desc
{
	background-color: #edf5ff;
}
.yui-skin-sam tr.yui-dt-odd td.yui-dt-asc,.yui-skin-sam tr.yui-dt-odd td.yui-dt-desc
{
	background-color: #dbeaff;
}
.yui-skin-sam .yui-dt-list tr.yui-dt-even
{
	background-color: #FFF;
}
.yui-skin-sam .yui-dt-list tr.yui-dt-odd
{
	background-color: #FFF;
}
.yui-skin-sam .yui-dt-list tr.yui-dt-even td.yui-dt-asc,.yui-skin-sam .yui-dt-list tr.yui-dt-even td.yui-dt-desc
{
	background-color: #edf5ff;
}
.yui-skin-sam .yui-dt-list tr.yui-dt-odd td.yui-dt-asc,.yui-skin-sam .yui-dt-list tr.yui-dt-odd td.yui-dt-desc
{
	background-color: #edf5ff;
}
.yui-skin-sam th.yui-dt-highlighted,.yui-skin-sam th.yui-dt-highlighted a
{
	background-color: #b2d2ff;
}
.yui-skin-sam tr.yui-dt-highlighted,.yui-skin-sam tr.yui-dt-highlighted td.yui-dt-asc,.yui-skin-sam tr.yui-dt-highlighted td.yui-dt-desc,.yui-skin-sam tr.yui-dt-even td.yui-dt-highlighted,.yui-skin-sam tr.yui-dt-odd td.yui-dt-highlighted
{
	background-color: #b2d2ff;
	cursor: pointer;
}
.yui-skin-sam .yui-dt-list th.yui-dt-highlighted,.yui-skin-sam .yui-dt-list th.yui-dt-highlighted a
{
	background-color: #b2d2ff;
}
.yui-skin-sam .yui-dt-list tr.yui-dt-highlighted,.yui-skin-sam .yui-dt-list tr.yui-dt-highlighted td.yui-dt-asc,.yui-skin-sam .yui-dt-list tr.yui-dt-highlighted td.yui-dt-desc,.yui-skin-sam .yui-dt-list tr.yui-dt-even td.yui-dt-highlighted,.yui-skin-sam .yui-dt-list tr.yui-dt-odd td.yui-dt-highlighted
{
	background-color: #b2d2ff;
	cursor: pointer;
}
.yui-skin-sam th.yui-dt-selected,.yui-skin-sam th.yui-dt-selected a
{
	background-color: #446cd7;
}
.yui-skin-sam tr.yui-dt-selected td,.yui-skin-sam tr.yui-dt-selected td.yui-dt-asc,.yui-skin-sam tr.yui-dt-selected td.yui-dt-desc
{
	background-color: #426fd9;
	color: #FFF;
}
.yui-skin-sam tr.yui-dt-even td.yui-dt-selected,.yui-skin-sam tr.yui-dt-odd td.yui-dt-selected
{
	background-color: #446cd7;
	color: #FFF;
}
.yui-skin-sam .yui-dt-list th.yui-dt-selected,.yui-skin-sam .yui-dt-list th.yui-dt-selected a
{
	background-color: #446cd7;
}
.yui-skin-sam .yui-dt-list tr.yui-dt-selected td,.yui-skin-sam .yui-dt-list tr.yui-dt-selected td.yui-dt-asc,.yui-skin-sam .yui-dt-list tr.yui-dt-selected td.yui-dt-desc
{
	background-color: #426fd9;
	color: #FFF;
}
.yui-skin-sam .yui-dt-list tr.yui-dt-even td.yui-dt-selected,.yui-skin-sam .yui-dt-list tr.yui-dt-odd td.yui-dt-selected
{
	background-color: #446cd7;
	color: #FFF;
}
.yui-skin-sam .yui-dt-paginator
{
	display: block;
	margin: 6px 0;
	white-space: nowrap;
}
.yui-skin-sam .yui-dt-paginator .yui-dt-first,.yui-skin-sam .yui-dt-paginator .yui-dt-last,.yui-skin-sam .yui-dt-paginator .yui-dt-selected
{
	padding: 2px 6px;
}
.yui-skin-sam .yui-dt-paginator a.yui-dt-first,.yui-skin-sam .yui-dt-paginator a.yui-dt-last
{
	text-decoration: none;
}
.yui-skin-sam .yui-dt-paginator .yui-dt-previous,.yui-skin-sam .yui-dt-paginator .yui-dt-next
{
	display: none;
}
.yui-skin-sam a.yui-dt-page
{
	background-color: #fff;
	border: 1px solid #cbcbcb;
	padding: 2px 6px;
	text-decoration: none;
}
.yui-skin-sam .yui-dt-selected
{
	background-color: #fff;
	border: 1px solid #fff;
}
.yuimenu
{
	left: -999em;
	top: -999em;
}
.yuimenubar
{
	position: static;
}
.yuimenu .yuimenu,.yuimenubar .yuimenu
{
	position: absolute;
}
.yuimenubar li,.yuimenu li
{
	list-style-type: none;
}
.yuimenubar ul,.yuimenu ul,.yuimenubar li,.yuimenu li,.yuimenu h6,.yuimenubar h6
{
	margin: 0;
	padding: 0;
}
.yuimenuitemlabel,.yuimenubaritemlabel
{
	text-align: left;
	white-space: nowrap;
}
.yuimenubar ul
{
	zoom: 1;
}
.yuimenubar .yuimenu ul
{
	zoom: normal;
}
.yuimenubar>.bd>ul:after
{
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
.yuimenubaritem
{
	float: left;
}
.yuimenubaritemlabel,.yuimenuitemlabel
{
	display: block;
}
.yuimenuitemlabel .helptext
{
	display: block;
	font-style: normal;
	margin: -1em 0 0 10em;
}
.yui-menu-shadow
{
	position: absolute;
	visibility: hidden;
	z-index: -1;
}
.yui-menu-shadow-visible
{
	bottom: -3px;
	left: -3px;
	right: -3px;
	top: 2px;
	visibility: visible;
}
.hide-scrollbars *
{
	overflow: hidden;
}
.hide-scrollbars select
{
	display: none;
}
.yuimenu.show-scrollbars,.yuimenubar.show-scrollbars
{
	overflow: visible;
}
.yuimenu.hide-scrollbars .yui-menu-shadow,.yuimenubar.hide-scrollbars .yui-menu-shadow
{
	overflow: hidden;
}
.yuimenu.show-scrollbars .yui-menu-shadow,.yuimenubar.show-scrollbars .yui-menu-shadow
{
	overflow: auto;
}
.yui-overlay.yui-force-redraw
{
	margin-bottom: 1px;
}
.yui-skin-sam .yuimenubar
{
	background: url(http://yui.yahooapis.com/2.9.0/build/assets/skins/sam/sprite.png) repeat-x 0 0;
	border: solid 1px #808080;
	font-size: 93%;
	line-height: 1.9;
	line-height: 2;
}
.yui-skin-sam .yuimenubarnav .yuimenubaritem
{
	border-right: solid 1px #ccc;
}
.yui-skin-sam .yuimenubaritemlabel
{
	border-color: #808080;
	border-style: solid;
	border-width: 1px 0;
	color: #000;
	cursor: default;
	margin: -1px 0;
	padding: 0 10px;
	position: relative;
	text-decoration: none;
}
.yui-skin-sam .yuimenubaritemlabel:visited
{
	color: #000;
}
.yui-skin-sam .yuimenubarnav .yuimenubaritemlabel
{
	display: inline-block;
	padding-right: 20px;
}
.yui-skin-sam .yuimenubarnav .yuimenubaritemlabel-hassubmenu
{
	background: url(http://yui.yahooapis.com/2.9.0/build/menu/assets/skins/sam/menubaritem_submenuindicator.png) right center no-repeat;
}
.yui-skin-sam .yuimenubaritem-selected
{
	background: url(http://yui.yahooapis.com/2.9.0/build/assets/skins/sam/sprite.png) repeat-x 0 -1700px;
}
.yui-skin-sam .yuimenubaritemlabel-selected
{
	border-color: #7D98B8;
}
.yui-skin-sam .yuimenubarnav .yuimenubaritemlabel-selected
{
	border-left-width: 1px;
	left: -1px;
	margin-left: -1px;
}
.yui-skin-sam .yuimenubaritemlabel-disabled,.yui-skin-sam .yuimenubaritemlabel-disabled:visited
{
	color: #A6A6A6;
	cursor: default;
}
.yui-skin-sam .yuimenubarnav .yuimenubaritemlabel-hassubmenu-disabled
{
	background-image: url(http://yui.yahooapis.com/2.9.0/build/menu/assets/skins/sam/menubaritem_submenuindicator_disabled.png);
}
.yui-skin-sam .yuimenu
{
	font-size: 93%;
	line-height: 1.45;
	line-height: 1.5;
}
.yui-skin-sam .yuimenubar .yuimenu,.yui-skin-sam .yuimenu .yuimenu
{
	font-size: 100%;
}
.yui-skin-sam .yuimenu .bd
{
	_zoom: normal;
	background-color: #fff;
	border: solid 1px #808080;
	zoom: 1;
}
.yui-skin-sam .yuimenu .yuimenu .bd
{
	zoom: normal;
}
.yui-skin-sam .yuimenu ul
{
	border-color: #ccc;
	border-style: solid;
	border-width: 1px 0 0 0;
	padding: 3px 0;
}
.yui-skin-sam .yuimenu ul.first-of-type
{
	border-width: 0;
}
.yui-skin-sam .yuimenu h6
{
	border-color: #ccc;
	border-style: solid;
	border-width: 1px 0 0 0;
	color: #a4a4a4;
	font-weight: bold;
	padding: 3px 10px 0 10px;
}
.yui-skin-sam .yuimenu ul.hastitle,.yui-skin-sam .yuimenu h6.first-of-type
{
	border-width: 0;
}
.yui-skin-sam .yuimenu .yui-menu-body-scrolled
{
	border-color: #ccc #808080;
	overflow: hidden;
}
.yui-skin-sam .yuimenu .topscrollbar,.yui-skin-sam .yuimenu .bottomscrollbar
{
	background: #fff url(http://yui.yahooapis.com/2.9.0/build/assets/skins/sam/sprite.png) no-repeat 0 0;
	border: solid 1px #808080;
	height: 16px;
}
.yui-skin-sam .yuimenu .topscrollbar
{
	background-position: center -950px;
	border-bottom-width: 0;
}
.yui-skin-sam .yuimenu .topscrollbar_disabled
{
	background-position: center -975px;
}
.yui-skin-sam .yuimenu .bottomscrollbar
{
	background-position: center -850px;
	border-top-width: 0;
}
.yui-skin-sam .yuimenu .bottomscrollbar_disabled
{
	background-position: center -875px;
}
.yui-skin-sam .yuimenuitem
{
	_border-bottom: solid 1px #fff;
}
.yui-skin-sam .yuimenuitemlabel
{
	color: #000;
	cursor: default;
	padding: 0 20px;
	text-decoration: none;
}
.yui-skin-sam .yuimenuitemlabel:visited
{
	color: #000;
}
.yui-skin-sam .yuimenuitemlabel .helptext
{
	margin-top: -1.45em;
	margin-top: -1.5em;
}
.yui-skin-sam .yuimenuitem-hassubmenu
{
	background-image: url(http://yui.yahooapis.com/2.9.0/build/menu/assets/skins/sam/menuitem_submenuindicator.png);
	background-position: right center;
	background-repeat: no-repeat;
}
.yui-skin-sam .yuimenuitem-checked
{
	background-image: url(http://yui.yahooapis.com/2.9.0/build/menu/assets/skins/sam/menuitem_checkbox.png);
	background-position: left center;
	background-repeat: no-repeat;
}
.yui-skin-sam .yui-menu-shadow-visible
{
	background-color: #000;
	filter: alpha(opacity=12);
	opacity: .12;
}
.yui-skin-sam .yuimenuitem-selected
{
	background-color: #B3D4FF;
}
.yui-skin-sam .yuimenuitemlabel-disabled,.yui-skin-sam .yuimenuitemlabel-disabled:visited
{
	color: #A6A6A6;
	cursor: default;
}
.yui-skin-sam .yuimenuitem-hassubmenu-disabled
{
	background-image: url(http://yui.yahooapis.com/2.9.0/build/menu/assets/skins/sam/menuitem_submenuindicator_disabled.png);
}
.yui-skin-sam .yuimenuitem-checked-disabled
{
	background-image: url(http://yui.yahooapis.com/2.9.0/build/menu/assets/skins/sam/menuitem_checkbox_disabled.png);
}

table.ygtvtable{margin-bottom:0;border:0;border-collapse:collapse}td.ygtvcell{border:0;padding:0}a.ygtvspacer{text-decoration:none;outline-style:none;display:block}.ygtvtn{width:18px;height:22px;background:url(http://yui.yahooapis.com/2.9.0/build/treeview/assets/skins/sam/treeview-sprite.gif) 0 -5600px no-repeat;cursor:pointer}.ygtvtm{width:18px;height:22px;cursor:pointer;background:url(http://yui.yahooapis.com/2.9.0/build/treeview/assets/skins/sam/treeview-sprite.gif) 0 -4000px no-repeat}.ygtvtmh,.ygtvtmhh{width:18px;height:22px;cursor:pointer;background:url(http://yui.yahooapis.com/2.9.0/build/treeview/assets/skins/sam/treeview-sprite.gif) 0 -4800px no-repeat}.ygtvtp{width:18px;height:22px;cursor:pointer;background:url(http://yui.yahooapis.com/2.9.0/build/treeview/assets/skins/sam/treeview-sprite.gif) 0 -6400px no-repeat}.ygtvtph,.ygtvtphh{width:18px;height:22px;cursor:pointer;background:url(http://yui.yahooapis.com/2.9.0/build/treeview/assets/skins/sam/treeview-sprite.gif) 0 -7200px no-repeat}.ygtvln{width:18px;height:22px;background:url(http://yui.yahooapis.com/2.9.0/build/treeview/assets/skins/sam/treeview-sprite.gif) 0 -1600px no-repeat;cursor:pointer}.ygtvlm{width:18px;height:22px;cursor:pointer;background:url(http://yui.yahooapis.com/2.9.0/build/treeview/assets/skins/sam/treeview-sprite.gif) 0 0 no-repeat}.ygtvlmh,.ygtvlmhh{width:18px;height:22px;cursor:pointer;background:url(http://yui.yahooapis.com/2.9.0/build/treeview/assets/skins/sam/treeview-sprite.gif) 0 -800px no-repeat}.ygtvlp{width:18px;height:22px;cursor:pointer;background:url(http://yui.yahooapis.com/2.9.0/build/treeview/assets/skins/sam/treeview-sprite.gif) 0 -2400px no-repeat}.ygtvlph,.ygtvlphh{width:18px;height:22px;cursor:pointer;background:url(http://yui.yahooapis.com/2.9.0/build/treeview/assets/skins/sam/treeview-sprite.gif) 0 -3200px no-repeat;cursor:pointer}.ygtvloading{width:18px;height:22px;background:url(http://yui.yahooapis.com/2.9.0/build/treeview/assets/skins/sam/treeview-loading.gif) 0 0 no-repeat}.ygtvdepthcell{width:18px;height:22px;background:url(http://yui.yahooapis.com/2.9.0/build/treeview/assets/skins/sam/treeview-sprite.gif) 0 -8000px no-repeat}.ygtvblankdepthcell{width:18px;height:22px}* html .ygtvchildren{height:2%}.ygtvlabel,.ygtvlabel:link,.ygtvlabel:visited,.ygtvlabel:hover{margin-left:2px;text-decoration:none;cursor:pointer}.ygtvcontent{cursor:default}.ygtvspacer{height:22px;width:18px}.ygtvfocus{border:0}.ygtvfocus .ygtvlabel,.ygtvfocus .ygtvlabel:link,.ygtvfocus .ygtvlabel:visited,.ygtvfocus .ygtvlabel:hover{}.ygtvfocus a{outline-style:none}.ygtvok{width:18px;height:22px;background:url(http://yui.yahooapis.com/2.9.0/build/treeview/assets/skins/sam/treeview-sprite.gif) 0 -8800px no-repeat}.ygtvok:hover{background:url(http://yui.yahooapis.com/2.9.0/build/treeview/assets/skins/sam/treeview-sprite.gif) 0 -8844px no-repeat}.ygtvcancel{width:18px;height:22px;background:url(http://yui.yahooapis.com/2.9.0/build/treeview/assets/skins/sam/treeview-sprite.gif) 0 -8822px no-repeat}.ygtvcancel:hover{background:url(http://yui.yahooapis.com/2.9.0/build/treeview/assets/skins/sam/treeview-sprite.gif) 0 -8866px no-repeat}.ygtv-label-editor{background-color:#f2f2f2;border:1px solid silver;position:absolute;display:none;overflow:hidden;margin:auto;z-index:9000}.ygtv-edit-TextNode{width:190px}.ygtv-edit-TextNode .ygtvcancel,.ygtv-edit-TextNode .ygtvok{border:0}.ygtv-edit-TextNode .ygtv-button-container{float:right}.ygtv-edit-TextNode .ygtv-input input{width:140px}.ygtv-edit-DateNode .ygtvcancel{border:0}.ygtv-edit-DateNode .ygtvok{display:none}.ygtv-edit-DateNode .ygtv-button-container{text-align:right;margin:auto}.ygtv-highlight .ygtv-highlight1,.ygtv-highlight .ygtv-highlight1 .ygtvlabel{background-color:blue;color:white}.ygtv-highlight .ygtv-highlight2,.ygtv-highlight .ygtv-highlight2 .ygtvlabel{background-color:silver}.ygtv-highlight .ygtv-highlight0 .ygtvfocus .ygtvlabel,.ygtv-highlight .ygtv-highlight1 .ygtvfocus .ygtvlabel,.ygtv-highlight .ygtv-highlight2 .ygtvfocus .ygtvlabel{}.ygtv-highlight .ygtvcontent{padding-right:1em}.ygtv-checkbox .ygtv-highlight0 .ygtvcontent{padding-left:1em;background:url(http://yui.yahooapis.com/2.9.0/build/treeview/assets/skins/sam/check0.gif) no-repeat}.ygtv-checkbox .ygtv-highlight0 .ygtvfocus.ygtvcontent,.ygtv-checkbox .ygtv-highlight1 .ygtvfocus.ygtvcontent,.ygtv-checkbox .ygtv-highlight2 .ygtvfocus.ygtvcontent{}.ygtv-checkbox .ygtv-highlight1 .ygtvcontent{padding-left:1em;background:url(http://yui.yahooapis.com/2.9.0/build/treeview/assets/skins/sam/check1.gif) no-repeat}.ygtv-checkbox .ygtv-highlight2 .ygtvcontent{padding-left:1em;background:url(http://yui.yahooapis.com/2.9.0/build/treeview/assets/skins/sam/check2.gif) no-repeat}
