<input type="hidden" name="hidden_tree_<@ $windowId @>" id="hidden_tree_<@ $windowId @>" value=""/><div id="tree_div_<@ $windowId @>"></div>
<script type="javascript">var objTree = CheckTree(); objTree.init("<@ $windowId @>", "<@ $data @>");  objTree.createTree(); </script>

