<table width="100%" border="0">
<@ foreach from=$fields key = k item = i @>
    <tr>
        <@ foreach from=$i key = s item = value @>
            <td><@ $value @></td>
        <@ /foreach @>
    </tr>
<@ /foreach @>
</table>