<div style="background:#e2e2e2; padding: 7px"><div id="refreshGrid_<@ $windowId @>" style="width:20px; cursor:pointer;float: left"><img src="/image/icon/arrow_refresh.png" title="Atualizar"></div><@$topBar@><div style="clear: both"></div></div>
<div id="dataTable_<@ $windowId @>"></div>

<script type="text/javascript">
NewGrid().Create("<@ $windowId @>", <@ $params @>);
</script>