<label style="float:left; margin:6px 5px 0px 0px; min-width:100px" for="<@ $name @>_<@ $windowId @>"><@ $label @></label>
<div><div><TEXTAREA name="<@ $name @>" id="<@ $name @>_<@ $windowId @>" rows="<@ $rows @>" cols="<@ $cols @>" <@ if $disabled == true@>disabled="disabled"<@ /if @>><@ $value @></TEXTAREA></div>
<@if $strLimit != null@><div style="width: 130px; margin-left: 106px; margin-bottom: 5px; font-size: 11px; font-weight: normal; color: #cc0000"><em>Limite de caracteres <b></b><span id="<@ $name @>_<@ $windowId @>_countStr"></span></b></em></div><div style="clear: both"></div><script>$('#<@ $name @>_<@ $windowId @>').limit('<@$strLimit@>','#<@ $name @>_<@ $windowId @>_countStr');</script><@/if@>
</div>