<div id="dataTreeView_<@ $elRender @>" style="margin-left: 30px; margin-bottom: 20px"></div>
<script type="text/javascript">TreeView('<@$windowId@>', '<@ $elRender @>').simpleRender(<@$data@>);</script>